.sharePostContainer {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 20px;
    position: absolute;
    padding: 20px;
    top: -10px;
    width: 641px;
    height: 235px;
    margin-left: -617px;
    background: white;
    z-index: 999;

    box-shadow: 0 2px 15px 2px rgba(87, 87, 87, 0.7);
}
.sharePostContainer h3 {
    font-size: 20px;
}
.copyclipboard {
    margin-left: 0px;
    background: rgb(243, 236, 252);
    border-radius: 20px;
    width: 120px;
    color: rgb(146, 70, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.copyclipboard p{
    color: rgb(80, 35, 124);
    font-size: 15px; 
    margin-right: 5px;
    margin-top: 11px;
}
.copiedBtn {
    border: 0px solid rgb(214, 214, 214);
    border-radius: 30px;
    background: rgba(255, 216, 216, 0.681);
    color: rgb(120, 22, 22);
    font-weight: 500;
    margin-top: 11px;
    cursor: pointer;
}
.copiedBtn:hover {

    background: rgba(255, 216, 216, 0.681);
    color: rgb(120, 22, 22);

    cursor: pointer;
}
.linkCopied {
    font-size: 15px;
    margin: 0;
    color: rgb(125, 59, 192);
}

@media (max-width: 430px) {
    .sharePostContainer {
        border: 1px solid rgb(209, 209, 209);
        border-radius: 20px;
        position: absolute;
        padding: 20px;
        width: 449px;
        height: 256px;
        margin-left: -360px;
        background: white;
        z-index: 999;
        box-shadow: 0 2px 15px 2px rgba(87, 87, 87, 0.7);
    }
    .copiedBtn {
        border: 0px solid rgb(214, 214, 214);
        border-radius: 30px;
        background: rgba(255, 216, 216, 0.681);
        color: rgb(120, 22, 22);
        font-weight: 500;
        margin-top: 11px;
        cursor: pointer;
    }

}    