@import "../../style.css";


.profile {
  background-color: themed("bgSoft");
}

.profileContainer {
  padding: 0px 20px;
  /* background: #e4e8fb; */
}

.uInfo {
  height: fit-content;
  /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px; */
  /* background-color: themed("bg"); */
  background: white;
  color: themed("textColor");
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  /* background: #1f1c23; */
  /* background: rgb(25, 25, 36); */
}


.name {
  flex: 1;
  display: flex;
  background: rgb(255, 255, 255);
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: fit-content;

}
.name p {
  width: 300px; 
  text-align: center;
  margin: 0;
  margin-top: 10px;
  color: rgb(152, 152, 152);
}
.name h1 {
  font-size: 35px;
  font-weight: 800;
  margin: 0px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  height: fit-content;
}

.btn .btn1 {
  margin-right: 30px;
}

.btn .btn1 {
  border: none;
  background-color: #4d3f68;
  color: white;
  font-size: 20px;
  width: fit-content;
  margin-top: 0px;
  padding: 10px 20px;
  border-radius: 70px;
  cursor: pointer;
}


.btn .btn1:hover {
  box-shadow: 2px 2px 12px #c6c6c6;
  background-color: #4d3f68;
  outline: none;
}
.btn .btn1:active {
  border: 0px;
  outline: none;
}

.btn .btn2 {
  border: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid #bcbcbc;
  color: rgb(104, 104, 104);
  font-size: 20px;
  width: fit-content;
  /* margin-top: 10px; */
  padding: 10px 10px;
  border-radius: 70px;
  cursor: pointer;
}
.btn .settings {
  margin-left: 30px;
  color: rgb(163, 163, 163);
  cursor: pointer;
}

.links {
  /* border: 1px solid rgb(163, 163, 163);
  border-radius: 20px; */
  align-items: center;
  flex: 1;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 30px;
  padding: 2px 10px;
  padding-top: 9px;
}

.links a {
  color: #bcb4cc;
}
.links a:hover {
  color: #8363c2;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.profilePic {
  width: 200px;
  height: 200px;
  border: 4px solid rgb(175, 95, 255);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  top: 60px;
  /* box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62); */
  /* box-shadow: 0px 0px 20px 5px rgb(146, 146, 146); */
}
.changeProfilePic {
  position: absolute;
  left: 5px;
  top: 5px;
  border: 0px solid black;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.362);
  font-size: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.changeCoverPic {
  position: absolute;
  left: 56%;
  bottom: -43px;
  border: 0px solid rgb(123, 123, 123);
  padding: 3px;
  height: 45px;
  width: 55px;
  font-size: 25px; 
  border-radius: 50%;
  background: #ffffffe3;
  color: #4d3f68e3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgb(188, 188, 188); 
}
.images {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.images input {
  display: none;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;


}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: themed("textColorSoft");
}

span {
  font-size: 12px;
}


a {
  color: themed("textColorSoft");
}

/* profile friends section styles */

.profileFriendsContainer {
  padding: 1rem 0rem;
  position: relative;
}
.profileFriendsContainer .profileFriendsHeader {
  border: 0px solid red;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}
.profileFriendsContainer .profileFriendsHeader h2{
  font-size: 30px;
  margin: 0;
  
}
.profileFriendsContainer .profileFriendsHeader button {
  margin: 0;
  width: fit-content;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 20px;
}
.profileFriendsContainer .profileFriendsHeader button:hover {
  background: #a479fa;
  color: white;
  cursor: pointer;
}
.profileFriends{
  border: 0px solid #eae2ff;
  /* background: rgba(239, 232, 250, 1); */
  /* box-shadow: 0px 0px 20px 1px rgb(188, 188, 188); */
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0rem;
  max-width: 924px;
  overflow-y: hidden;
  overflow-x: auto;
 
}
.profileFriends .friendCard {
  border: 1px solid rgb(225, 225, 225);
  background: white;
  border-radius: 12px;
  height: 210px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;

}
.profileFriends .friendCard:hover {
  box-shadow: 0px 0px 10px 1px rgb(170, 170, 170);
  cursor: pointer;
}
.friendCard .cardImg img{
  height: 130px;
  width: 130px;
  border-radius: 8px;
}
.friendCard .cardName h3{
  font-size: 1.3rem;
  width: fit-content;
}

/* Hide the default scrollbar for WebKit browsers */
.profileFriends::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

.profileFriends::-webkit-scrollbar-thumb {
  background-color: #534d61b7;
}

.profileFriends::-webkit-scrollbar-track {
  background: #332e3cb7;
}

/* ... rest of your styles ... */



.profileFriendsContainer .suggestedUsers {
  height: 24rem;
  width: 57rem;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  /* position: absolute; */
  z-index: 999;
  background: white;
  margin-top: 1rem;
  top: 30%;
  right: 150%;
  padding: 10px;
  /* box-shadow: 0px 0px 10px 1px rgb(170, 170, 170); */
  overflow-y: auto;
}

.suggestedUsers .heading {
  display: flex;
  justify-content: space-between;
}
.suggestedUsers .users {
  display: flex;
  flex-direction: row;
  border: 0px solid blue;
  height: 17rem;
  padding: 0.5rem;
  width: 54rem;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
}
.profileFriendsContainer .suggestedUsers .user {
  border: 1px solid rgb(188, 188, 188);
  border-radius: 8px;
  min-width: 12rem;
  height: 15rem;
  padding: 1rem;
  padding-bottom: 1rem;
  /* box-shadow: 0px 0px 10px 1px rgb(170, 170, 170); */
}
.profileFriendsContainer .suggestedUsers .user .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileFriendsContainer .suggestedUsers .user .userInfo img {
  height: 130px;
  width: 130px;
  border-radius: 12px;
  margin-bottom: 5px;
}
.profileFriendsContainer .suggestedUsers .user .buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  height: fit-content;
}
.profileFriendsContainer .suggestedUsers .user .buttons button{
  width: fit-content;
  font-size: 14px;
  height: fit-content;
  margin-top: 8px;
  cursor: pointer;
}
.profileFriendsContainer .suggestedUsers .user .buttons .btn1 {
  background: #a27cee;
  color: #ffffff;
}
.profileFriendsContainer .suggestedUsers .user .buttons .btn1:hover {
  background: #7557b0;
  cursor: pointer;
}
.profileFriendsContainer .suggestedUsers .user .userInfo h3 {
  font-size: 23px;
}
.suggestedUsers .closeIcon {
  cursor: pointer;
}
.suggestedUsers h2 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 22px;
}

/* Hide the default scrollbar for WebKit browsers */
.suggestedUsers .users::-webkit-scrollbar {
  width: 1rem;
  height: 0px;
}
.suggestedUsers::-webkit-scrollbar-thumb {
  background-color: #534d61b7;
}

.suggestedUsers::-webkit-scrollbar-track {
  background: #332e3cb7;
}

/* ... rest of your styles ... */



.profileStories {
  border: 1px solid red;
  width: 50vw;
  background: red;
}
.profileStory {
  border: 1px solid blue;
  background: blue;
  margin-top: 10px;
} 


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.918); /* Semi-transparent black background */
  z-index: 9999; /* Ensure it appears on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;flex-direction: column;
  cursor: pointer;
}
.overlay .storyInfo {
  display: flex;
  flex-direction: row;
  color: red;
}
.overlay .storyInfo h1 {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.overlay .storyInfo img {
  height: 30px;
  width: 30px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 50px;
  margin-top: 3px;
}
.modal {
  width: 100%; 
  height: 95%; 
  background-color: transparent; 
  border-radius: 8px; 
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.modal img {
  margin-top: 10px;
  border-radius: 12px;
  object-fit: contain;
  max-height: 95%;
}
.storyInfoHeader {
  display: flex;
  flex-direction: column;
}
.storyInfoHeader p{
  color: rgb(190, 190, 190);
  margin-bottom: 0;
  font-size: 15px;
}



@media (max-width: 1026px) {
  .profile {

    width: 100%;
    padding: 0px;
    width: 691px;
  }

  .uInfo {
    height: 165px;
    /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
    border-radius: 20px;
    /* background-color: themed("bg"); */
    background: white;
    color: themed("textColor");
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
  }

  .name {
    flex: 1;
    display: flex;
    background: rgb(255, 255, 255);
    margin-top: 4px;
    flex-direction: column;
    align-items: center;
    gap: 10px;


  }

  .name h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
  }

  .btn {
    margin-top: 0px;
    margin-bottom: 30px;
    align-items: center;
  }

  .btn .btn1 {
    margin-right: 20px;
  }

  .btn .btn1 {
    border: none;
    background-color: #4d3f68;
    color: white;
    font-size: 15px;
    margin-top: 0px;
    padding: 10px 20px;
    border-radius: 70px;
    cursor: pointer;
  }

  .btn .btn2 {
    border: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #bcbcbc;
    color: rgb(104, 104, 104);
    font-size: 15px;
    /* margin-top: 10px; */
    padding: 10px 10px;
    border-radius: 70px;
    cursor: pointer;
  }

  .btn .settings {
    margin-left: 20px;
    color: rgb(163, 163, 163);
  }

  .links {
    /* border: 1px solid rgb(163, 163, 163);
    border-radius: 20px; */
    align-items: center;
    flex: 1;
    display: flex;
    gap: 10px;
  }

  .links a {
    color: rgb(181, 181, 181);
  }

  .profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    /* box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62); */
  }
  .changeProfilePic {
    position: absolute;
    left: 5px;
    top: 5px;
    border: 0px solid black;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.362);
    font-size: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .changeCoverPic {
    position: absolute;
    left: 56%;
    bottom: -43px;
    border: 0px solid rgb(123, 123, 123);
    padding: 3px;
    height: 45px;
    width: 55px;
    font-size: 25px; 
    border-radius: 50%;
    background: #ffffffe3;
    color: #4d3f68e3;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(188, 188, 188); 
  }
}

@media (max-width: 768px) {
  .profile {

    width: 100%;
    padding: 0px;
    width: 691px;
  }
  .profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    /* box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62); */
    /* box-shadow: 0px 0px 20px 5px rgb(146, 146, 146); */
  }

  .uInfo {
    height: fit-content;
    /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
    border-radius: 20px;
    /* background-color: themed("bg"); */
    background: white;
    color: themed("textColor");
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .name {
    flex: 1;
    display: flex;
    background: rgb(255, 255, 255);
    margin-top: 4px;
    flex-direction: column;
    align-items: center;
    gap: 10px;


  }

  .name h1 {

    margin: 0px;
  }
  .profileFriends{
    border: 0px solid #eae2ff;
    /* background: rgba(239, 232, 250, 1); */
    /* box-shadow: 0px 0px 20px 1px rgb(188, 188, 188); */
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0rem;
    max-width: 651px;
    overflow-y: hidden;
    overflow-x: auto;
   
  }
  .profileFriendsContainer .suggestedUsers {
    height: 24rem;
    width: 41rem;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    /* position: absolute; */
    z-index: 999;
    background: white;
    margin-top: 1rem;
    top: 30%;
    right: 150%;
    padding: 10px;
    /* box-shadow: 0px 0px 10px 1px rgb(170, 170, 170); */
    overflow-y: auto;
  }
  .changeProfilePic {
    position: absolute;
    left: 5px;
    top: 5px;
    border: 0px solid black;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.362);
    font-size: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .changeCoverPic {
    position: absolute;
    left: 53%;
    bottom: -25px;
    border: 0px solid rgb(123, 123, 123);
    padding: 3px;
    height: 45px;
    width: 55px;
    font-size: 25px; 
    border-radius: 50%;
    background: #ffffffe3;
    color: #4d3f68e3;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgb(188, 188, 188); 
  }
}


/* Mobile */
@media (max-width: 427px) {
  .profile {

    width: 100%;
    padding: 0px;
    width: 491px;
  }

  .profileContainer {
    padding: 0px 10px;
    width: 100%;
    /* background: rgb(223, 232, 236); */
  }

  .uInfo {
    height: fit-content;
    /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
    border-radius: 20px;
    /* background-color: themed("bg"); */
    background: white;
    color: themed("textColor");
    padding-top: 40px;
    /* width: 450px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .images {
    width: 100%;
    height: 200px;
    left: 0px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .cover {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    object-fit: cover;
  }

  .profileFriendsContainer .profileFriendsHeader h2{
    font-size: 25px;
    margin: 0;
  }
  .profileFriends{
    border: 0px solid #eae2ff;
    /* background: rgba(239, 232, 250, 1); */
    /* box-shadow: 0px 0px 20px 1px rgb(188, 188, 188); */
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0rem;
    max-width: 460px;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .profileFriendsContainer .suggestedUsers {
    height: 24rem;
    max-width: 460px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
    /* position: absolute; */
    z-index: 999;
    background: white;
    margin-top: 1rem;
    top: 30%;
    right: 150%;
    padding: 10px;
    /* box-shadow: 0px 0px 10px 1px rgb(170, 170, 170); */
    overflow-y: auto;
  }

  .suggestedUsers .users {
    display: flex;
    flex-direction: row;
    border: 0px solid blue;
    max-width: 460px;
    height: 17rem;
    padding: 0.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
  }
  .profileFriendsContainer .suggestedUsers .user {
    border: 1px solid rgb(188, 188, 188);
    border-radius: 8px;
    min-width: 12rem;
    height: 15rem;
    padding: 1rem;
    padding-bottom: 1rem;
    /* box-shadow: 0px 0px 10px 1px rgb(170, 170, 170); */
  }

  /* Hide the default scrollbar for WebKit browsers */
  .suggestedUsers .users::-webkit-scrollbar {
    width: 1rem;
    height: 0px;
  }
  .suggestedUsers::-webkit-scrollbar-thumb {
    background-color: #534d61b7;
  }
  
  .suggestedUsers::-webkit-scrollbar-track {
    background: #332e3cb7;
  }

/* ... rest of your styles ... */

  /* .uInfo {
    flex-direction: column;
    height: 30vh;
    padding: 20px;
    margin-top: 100px;
  } */
}


/* Tablet */
/* @media (max-width: 960px) {
    .profile{
      padding: 20px;
    }
    .left{
      flex-wrap: wrap;
    }
  } */










  /* bakcup */
  /* Mobile */
/* @media (max-width: 427px) {
  .profile {

    width: 100%;
    padding: 0px;
    width: 500px;
  }

  .profileContainer {
    padding: 0px 10px;
    width: 100%;
    background: rgb(223, 232, 236);
  }

  .uInfo {
    height: 160px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    /* background-color: themed("bg"); */
    /* background: white;
    color: themed("textColor");
    padding-top: 40px; */
    /* width: 450px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  } */

  /* .images {
    width: 100%;
    height: 200px;
    left: 10px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .cover {
    width: 90%;
    height: 100%;
    margin-left: 5px;
    object-fit: cover;
  } */

  /* .uInfo {
    flex-direction: column;
    height: 30vh;
    padding: 20px;
    margin-top: 100px;
  } */
/* } */ 
