@import "../../style.css";


.profile {
  background-color: themed("bgSoft");
}

.profileContainer {
  padding: 0px 20px;
  background: #e4e8fb;
}

.uInfo {
  height: 250px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  /* background-color: themed("bg"); */
  background: white;
  color: themed("textColor");
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.name {
  flex: 1;
  display: flex;
  background: rgb(255, 255, 255);
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;


}

.name h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
}

.btn .btn1 {
  margin-right: 30px;
}

.btn .btn1 {
  border: none;
  background-color: #a479fa;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn .btn1:hover {
  box-shadow: 2px 2px 12px #a479fa;
  background-color: #8363c2;
}

.btn .btn2 {
  border: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid #a479fa;
  color: rgb(104, 104, 104);
  font-size: 20px;
  /* margin-top: 10px; */
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn .settings {
  margin-left: 30px;
  color: rgb(163, 163, 163);
}

.links {
  /* border: 1px solid rgb(163, 163, 163);
  border-radius: 20px; */
  align-items: center;
  flex: 1;
  display: flex;
  gap: 10px;
}

.links a {
  color: rgb(181, 181, 181);
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.profilePic {
  width: 200px;
  height: 200px;
  border: 5px solid #a479fa;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 100px;
  /* box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62); */
  box-shadow: 0px 0px 20px 5px rgb(146, 146, 146);
}

.images {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;


}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: themed("textColorSoft");
}

span {
  font-size: 12px;
}


a {
  color: themed("textColorSoft");
}


@media (max-width: 1026px) {

  .uInfo {
    height: 165px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    /* background-color: themed("bg"); */
    background: white;
    color: themed("textColor");
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .name {
    flex: 1;
    display: flex;
    background: rgb(255, 255, 255);
    margin-top: 4px;
    flex-direction: column;
    align-items: center;
    gap: 10px;


  }

  .name h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
  }

  .btn {
    margin-top: 0px;
    margin-bottom: 30px;
    align-items: center;
  }

  .btn .btn1 {
    margin-right: 20px;
  }

  .btn .btn1 {
    border: none;
    background-color: #a479fa;
    color: white;
    font-size: 15px;
    margin-top: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn .btn2 {
    border: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #a479fa;
    color: rgb(104, 104, 104);
    font-size: 15px;
    /* margin-top: 10px; */
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn .settings {
    margin-left: 20px;
    color: rgb(163, 163, 163);
  }

  .links {
    /* border: 1px solid rgb(163, 163, 163);
    border-radius: 20px; */
    align-items: center;
    flex: 1;
    display: flex;
    gap: 10px;
  }

  .links a {
    color: rgb(181, 181, 181);
  }

  .profilePic {
    width: 150px;
    height: 150px;
    border: 5px solid #a479fa;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    /* box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62); */
    box-shadow: 0px 0px 20px 5px rgb(146, 146, 146);
  }

}

@media (max-width: 768px) {
  .profilePic {
    width: 120px;
    height: 120px;
    border: 5px solid #a479fa;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    /* box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.62); */
    box-shadow: 0px 0px 20px 5px rgb(146, 146, 146);
  }

  .uInfo {
    height: 165px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    /* background-color: themed("bg"); */
    background: white;
    color: themed("textColor");
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .name {
    flex: 1;
    display: flex;
    background: rgb(255, 255, 255);
    margin-top: 4px;
    flex-direction: column;
    align-items: center;
    gap: 10px;


  }

  .name h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
  }
}


/* Mobile */
@media (max-width: 427px) {
  .profile {

    width: 100%;
    padding: 0px;
    width: 500px;
  }

  .profileContainer {
    padding: 0px 10px;
    width: 100%;
    background: rgb(223, 232, 236);
  }

  .uInfo {
    height: 160px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    /* background-color: themed("bg"); */
    background: white;
    color: themed("textColor");
    padding-top: 40px;
    /* width: 450px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .images {
    width: 100%;
    height: 200px;
    left: 10px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .cover {
    width: 90%;
    height: 100%;
    margin-left: 5px;
    object-fit: cover;
  }

  /* .uInfo {
    flex-direction: column;
    height: 30vh;
    padding: 20px;
    margin-top: 100px;
  } */
}


/* Tablet */
/* @media (max-width: 960px) {
    .profile{
      padding: 20px;
    }
    .left{
      flex-wrap: wrap;
    }
  } */










  /* bakcup */
  /* Mobile */
/* @media (max-width: 427px) {
  .profile {

    width: 100%;
    padding: 0px;
    width: 500px;
  }

  .profileContainer {
    padding: 0px 10px;
    width: 100%;
    background: rgb(223, 232, 236);
  }

  .uInfo {
    height: 160px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    /* background-color: themed("bg"); */
    /* background: white;
    color: themed("textColor");
    padding-top: 40px; */
    /* width: 450px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  } */

  /* .images {
    width: 100%;
    height: 200px;
    left: 10px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .cover {
    width: 90%;
    height: 100%;
    margin-left: 5px;
    object-fit: cover;
  } */

  /* .uInfo {
    flex-direction: column;
    height: 30vh;
    padding: 20px;
    margin-top: 100px;
  } */
/* } */ 
