/* .loader {
    height: 50px;
    aspect-ratio: 2;
    border: 10px solid #000;
    box-sizing: border-box;
    background: 
      radial-gradient(farthest-side,#fff 98%,#0000) left/20px 20px,
      radial-gradient(farthest-side,#fff 98%,#0000) left/20px 20px,
      radial-gradient(farthest-side,#fff 98%,#0000) center/20px 20px,
      radial-gradient(farthest-side,#fff 98%,#0000) right/20px 20px,
      #000;
    background-repeat: no-repeat;
    filter: blur(4px) contrast(10);
    animation: l14 1s infinite;
  }
  @keyframes l14 {
    100%  {background-position:right,left,center,right}
  } */

  .loader {
    height: 33px;
    aspect-ratio: 2.5;
    box-sizing: border-box;
    /* background: radial-gradient(farthest-side, #472c6b 98%, #0000) left/15px 15px, radial-gradient(farthest-side, #7550a5 98%, #0000) left/15px 15px, radial-gradient(farthest-side, #472c6b 98%, #0000) center/15px 15px, radial-gradient(farthest-side, #472c6b 98%, #0000) right/15px 15px, #ffffff; */
    background: radial-gradient(farthest-side, #8c72af 98%, #0000) left/15px 15px, radial-gradient(farthest-side, #8c72af 98%, #0000) left/15px 15px, radial-gradient(farthest-side, #8c72af 98%, #0000) center/15px 15px, radial-gradient(farthest-side, #8c72af 98%, #0000) right/15px 15px, #ffffff;
    background-repeat: no-repeat;
    filter: blur(0px) contrast(2);
    animation: l14 1s infinite;
    color: #ffffff;
}

@keyframes l14 {
    100% {background-position:right,left,center,right}
}

