@import "../../style.css";
*{
    padding: 0;
    margin: 0;
}

/* #a479fa */
.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
}
.grpOuterDiv {
    background: #211e2a;
}
/* left-options bar styles */

.grp-left-opt-menu {
    border: 0px solid rgb(250, 250, 250);
    border-radius: 12px;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    height: 97vh;
    margin-right: 41px;
}
.grp-left-opt-menu .profile-img img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.grp-left-opt-menu .item1 {
    font-size: 30px;
    margin-top: 20px;
    border: 0px solid red;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
.grp-left-opt-menu .icon1 {
    margin-top: 5px;
    color: #706194;
}

.grp-left-opt-menu .item1 {
    padding-left: 10px;
}
.grp-left-opt-menu .item2 {
    font-size: large;
    margin-top: 20px;
    border: 0px solid red;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
.grp-left-opt-menu .icon2 {
    margin-top: 5px;
    color: #706194;
}

.grp-left-opt-menu .item3 {
    font-size: large;
    margin-top: 20px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}
.grp-left-opt-menu .icon3 {
    margin-top: 5px;
    color: #706194;
}

.grp-left-opt-menu .item4 {
    font-size: large;
    margin-top: -18px;
    border: 0px solid red;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
.grp-left-opt-menu .icon4 {
    margin-top: 5px;
    color: #706194;
}



/* left - activity bar styles */

/* .container .left-group-menu {
    border: 0px solid red;
    border-radius: 12px;
    height: 95vh;

    padding: 10px;

} */

.grp-top-part {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.grp-top-part-opt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    margin-left: 20px;
}
.grp-top-part-opt h1 {
    color: #ffffff;
    color: #f1efef;
    font-weight: 500;
}
.grp-top-part-opt svg{
    color: #706194;
    cursor: pointer;
}

.grp-top-search-bar {
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grp-top-search-bar input[type=text]{
    width: 260px;
    height: 45px;
    padding: 0px 15px;
    margin: 0px 10px;
    border-radius: 20px;
    color: #ffffff;
    border: 1px solid  #483e5c;
}
.top-search-bar input[type=text]:focus{
    outline: none;
    border: 2px solid #665688;
}
::placeholder {
    padding: 20px;
    color: rgb(190, 190, 190);
}
.grp-top-search-bar .search-btn {
    border: 0px solid red;
    border-radius: 50px;
    height: 40px;
    width: 45px;
    background: #312843b7;
}
.grp-top-search-bar .search-icon {
    color: #64587b;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
}
.createGroupDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

span {
    color: rgb(179, 179, 179);
}
.grp-mid-part {
    margin: 20px 0px;

    margin: 20px 0px;
    border: 1px solid #312843df;
    max-height: 358px;
    width: 355px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 50px;
    border-radius: 35px;
}
.grp-mid-part span {
    color: #afa2c8;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 20px;
}
.CreateGrpIcon {
    border: none;
    
    border: 1px solid #534b66;
    color: white;
    border-radius: 20px;
    background: #564390;
    height: 50px;
    width: 300px;
    margin-left: 5px;
    margin-top: 40px;
    margin-bottom: 10px;
    background: transparent;
    cursor: pointer;
}
.CreateGrpIcon:hover {
    cursor: pointer;
    background: #534b66;
}
.mid-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}


.left h2 {
    font-size: 20px;
}
.left {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.left img {
    height: 40px;
    width: 40px;
    border-radius: 50px;

}
.left .left-info {
    margin-left: 10px;
    position: relative;
}
.left .left-info h2 {
    font-size: 18px;
    font-weight: 700;
    color: #e1e1e1;
}   
.left .left-info p {
    font-size: 15px;
    color: #848484;
    font-weight: 350;
}
.left .left-info p:hover {
    text-decoration: underline;
    cursor: pointer;
}


.right {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
}
.right p{
    color: rgb(169, 169, 169);
    font-size: 14px
}
.right circle {
    border: 2px solid red;
    background: red;
    color: white;
    border-radius: 60%;
    text-align: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

.mid-text2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}
.left h2 {
    font-size: 20px;
}
.left2 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.left2 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;

}
.left2 .left-info {
    margin-left: 10px;
}
.left2 .left-info h2 {
    font-size: 18px;
    font-weight: 700;
    color: #515151;
}
.left2 p {
    color: rgb(26, 180, 26);
}
.right2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 15px;
   gap: 10px;
}
.right2 p{
    color: rgb(169, 169, 169);
    font-size: 14px
}
.right2 circle {
    border: 2px solid red;
    background: red;
    color: white;
    border-radius: 60%;
    text-align: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

.mid-text3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    margin-bottom: 20px;
}
.left3 h2 {
    font-size: 20px;
}
.left3 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.left3 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;

}
.left3 .left-info {
    margin-left: 10px;
}
.left3 .left-info h2 {
    font-size: 18px;
    font-weight: 700;
    color: #515151;
}
.right3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
 }
.right3 p{
    color: rgb(169, 169, 169);
    font-size: 14px
}
.right3 circle {
    border: 2px solid red;
    background: red;
    color: white;
    border-radius: 60%;
    text-align: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
}
.AllUserChat {
    border: 0px solid red;
    max-height: 144px;
    overflow-y: auto;
    overflow-x: hidden;
}
.mid-text4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}
.left4 h2 {
    font-size: 20px;
}
.left4 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.left4 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;

}
.left4 .left-info {
    margin-left: 10px;
}
.left4 .left-info h2 {
    font-size: 18px;
    font-weight: 700;
    color: #515151;
}

.right4 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 15px;
   gap: 10px;
}
.right4 p{
    color: rgb(169, 169, 169);
    font-size: 14px
}
.right4 circle {
    border: 2px solid red;
    background: red;
    color: white;
    border-radius: 60%;
    text-align: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

.mid-text5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}
.left5 h2 {
    font-size: 20px;
}
.left5 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.left5 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;

}
.left5 .left-info {
    margin-left: 10px;
}
.left5 .left-info h2 {
    font-size: 18px;
    font-weight: 700;
    color: #515151;
}

.left5 p {
    color: rgb(26, 180, 26);
}
.right5 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 15px;
   gap: 10px;
}
.right5 p{
    color: rgb(169, 169, 169);
    font-size: 14px
}
.right5 circle {
    border: 2px solid red;
    background: red;
    color: white;
    border-radius: 60%;
    text-align: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
}

/* main chat section styles */

.grp-main-chat-section {
    border-radius: 30px;
    border: 0px solid #6b598cb7;
    /* box-shadow: 0px 0px 5px 3px #e8e8e8; */
    background: #1b1720;
    width: 80vw;
    height: 97.1vh;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 70px;
    border-radius: 30px;
}
.info {
    height: 4rem;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}   
.info .left-part {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.info .left-part .user-pic{
   margin: 0px 0px;
   display: flex;
   align-items: start;
}
.info .left-part .user-pic img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.info .left-part .user-info h1{
    font-size: 25px;
}
.info .left-part .user-info p {
    color: rgb(152, 96, 237);
}
.info .left-part .user-info p:hover {
    text-decoration: underline;
    color: rgb(95, 57, 151);
    cursor: pointer;
}

.left-part .user-info .left-info .otherMembers{
    font-size: 15px;
    color: rgb(86, 86, 86);
}

.info .right-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin: 0px 20px;
   gap: 20px;
}
.info .right-part .right-part-icon {
    font-size: 30px;
    color: #7745da;

}

.info .right-part .RightPopUpDefault {
    position: relative;
}
.info .right-part .RightPopUpShow .PopUpBox {
    height: fit-content;
    width: 40%;
    padding: 10px;
    top: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid #38333d;
    border-radius: 16px;
    background: #1b1720;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    right: 10%;
    z-index: 999;
}
.info .right-part .RightPopUpShow .PopUpBox .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid red;
}
.info .right-part .RightPopUpShow .PopUpBox .top h1 {
    font-size: 25px;
    color: white;
}
.info .right-part .RightPopUpShow .PopUpBox .top p {
    color: rgb(161, 97, 244);
    font-size: 15px;
}
.info .right-part .RightPopUpShow .PopUpBox img {
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    width: 100px;
}
.info .right-part .RightPopUpShow .PopUpBox .mid1 .mid1-icon {
    color: #8b66b0;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    height: 50px;
}
.info .right-part .RightPopUpShow .PopUpBox .mid1 .mid1-icon:hover {
    background: #38333d;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
}

.info .right-part .RightPopUpShow .PopUpBox .bottom {
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px 10px;
    margin-top: 20px;
}
.info .right-part .RightPopUpShow .PopUpBox .bottom .userOpt1 {
    border: 1px solid #3a3343;
    background: transparent;
    color: #cccccc;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 5px 8px;
}
.info .right-part .RightPopUpShow .PopUpBox  .userOpt1 h2 {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
}
.info .right-part .RightPopUpShow .PopUpBox .bottom .userOpt1 .bottom-icon {
    margin-top: 3px;
}
.info .right-part .RightPopUpShow .PopUpBox .bottom .userOpt1:hover {
    border: 1px solid #3a3343;
    background: transparent;
    color: #cccccc;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 8px;
    cursor: pointer;
}

.info .right-part .RightPopUpShow .PopUpBox .bottom .userOpt2{
    border: 1px solid #3a3343;
    background: transparent;
    color: #cccccd;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 5px 8px;
}
.info .right-part .RightPopUpShow .PopUpBox  .userOpt2 h2 {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
}
.info .right-part .RightPopUpShow .PopUpBox .bottom .userOpt2 .bottom-icon {
    margin-top: 3px;
}
.info .right-part .RightPopUpShow .PopUpBox .bottom .userOpt2:hover {
    border: 1px solid #3a3343;
    background: transparent;
    color: #cccccc;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 8px;
    cursor: pointer;
}






.grp-inner-container {
    margin-top: 0px;
    border: 0px solid red;
    background: #332e3cb7;
    border-radius: 12px;
    width: 100%;
    height: 90%;
    overflow: scroll;
}


.grp-inner-container::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }
  
  .grp-inner-container::-webkit-scrollbar-thumb {
    background-color: #534d61b7;
  }
  
  .grp-inner-container::-webkit-scrollbar-track {
    background: #332e3cb7;
  }
  
.grp-chat-bottom {
    border: 0px solid red;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.grp-main-chat-section .grp-chat-bottom .grp-chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grp-main-chat-section .grp-chat-bottom .grp-chat-input input[type=text] {
    border: 0px solid rgb(213, 213, 213);
    font-size: 20px;
    border-radius: 20px;
    background :#3e354e;
    color: #fcfcfc;
    height: 45px;
    width: 57vw;
}
.grp-main-chat-section .grp-chat-bottom .grp-chat-input input[type=text]:focus{
    outline: none;
    border: 2px solid #5c5171;
    color: #ffffff;
}
.grp-chat-bottom .chat-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.grp-chat-bottom .chat-options label {
    margin: 0;
    margin-left: 5px;
}
.grp-chat-bottom .chat-options svg {
    margin: 5px;
}
.grp-chat-bottom .chat-btn {
    font-size: 30px;
    margin: 0px 10px;
    color: #605674;
    cursor: pointer;
}
.grp-chat-bottom .submit-btn-class {
    padding: 0;
    margin-top: 9px;
    margin-left: 10px;
}
.grp-chat-bottom .submit-btn-class button{
    padding: 5px;
    margin: 0px;
    border: 0px solid #652ed3;
    background: #6e6188;
    border-radius: 50px;
    width: fit-content;
    padding: 2px 3px;
    margin-left: 10px;
}
.grp-chat-bottom .submit-btn {
    font-size: 40px;
    color: #190f2b;
}

.grp-inner-container{
    width: auto;
    padding: 11px;
}

.incoming-msg{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: small;
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    width: fit-content;
    max-width: 40%;
    background: rgb(193, 180, 206);
    border-radius: 5px 15px 15px 15px;
    font-weight: 500;
}
.incomingMsgImg {
    cursor: pointer;
}
.chatImgShow {
    position: absolute;
    top: 20px;
    left: -5px;
    width: fit-content;
    height: 90%;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.38);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 6px 95px;
    border: 0px solid red;
    border-radius: 16px;
    box-shadow: 5px 5px 12px rgb(147, 147, 147);
}
.chatImgShow img {
    height: 100%;
    width: 100%;
}
.closeIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0px solid red;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.378);
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.outgoing-msg{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: small;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 10px;
    height: auto;
    width: fit-content;
    max-width: 40%;
    background: rgb(86, 74, 100);
    border-radius: 15px 5px 15px 15px;
    font-weight: 500;
    color: white;
}


/* group chat popup modal styles */
.create-group-modal{
    border: 1px solid rgb(65, 52, 78);
    border-radius: 30px;
    /* box-shadow: 5px 5px 12px rgb(147, 147, 147); */
    background: rgb(38, 33, 45);
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    padding: 20px;
    height: fit-content;
}
.modal-content {
    border: 0px;
    background: rgb(38, 33, 45);
}
.modal-content h2 {
    color: #ffffff;
    font-weight: 500;
}
.modal-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #b6b6b6;
    margin-left: 5px;
}
.modal-content .grp-name input {
    border: 1px solid rgb(78, 64, 93);
    height: 45px;
    /* width: 96%; */
    border-radius: 20px;
    padding: 5px;
    padding-left: 30px;
    color: white;
}
.modal-content .grp-name input:focus {
}
/* add members input style */
.modal-content .add-members {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-content .add-members-input {
    display: flex;
}
.modal-content .add-members-input input {
    border: 1px solid rgb(78, 64, 93);
    height: 45px;
    /* width: 96%; */
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-left: 30px;
    color: white;
}
.modal-content .add-members input:focus {
}
.modal-content .add-members-input .search-btn {
    border: 0px solid red;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content .search-btn .search-icon {
    border: 0px solid #d3d3d3;
    color: #ffffff;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 25px;
    height: 100%;
    font-size: 40px;
    cursor: pointer;
}
.membersLabel {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.membersLabelCloseIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(233, 230, 237, 0.799);
    border: 0px solid rgba(71, 60, 82, 0.799);
    background: rgba(72, 59, 86, 0.799);
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.membersLabelName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}
.addMembersLabel {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 4px 10px;
    margin-top: 5px;
    gap: 8px;
    /* background: rgb(43, 32, 54); */
    color: rgb(170, 116, 223);
    margin-right: 8px;
    border: 0px solid rgb(255, 153, 153);
    border-radius: 20px;
}
.addMembersLabel p{
    font-size: 15px;
    margin: 0;
}
/* .addMembersLabel:hover {
    background: #6c3acf;
    color: white;
    cursor: pointer;
} */



.user-list {
    margin-top: 15px;
    gap: 10px;
}

.userListContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #594a79;
    padding: 8px;
    color: #fefdff;
    border-radius: 20px;
    margin-bottom: 10px;
    height: fit-content;
}
.userListContainer:hover {
    cursor: pointer;
    border: 1px solid #594a79;
    color: #fefdff;
    padding: 8px;
    color: #ffffff;

}
.userLists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 39px;
    padding: 4px;
}
.userLists  .userListIconTick{
    border: 0px solid red;
    background: #32234e;
    color: #6a3cc0;
    padding: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 22px;
}
.userLists  .userListIconTick:hover {
    cursor: pointer;

}

.userLists  .userListIconCross {
    border: 0px solid red;
    background: #32234e;
    color: rgb(226, 103, 103);
    padding: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 22px;
}
.userLists  .userListIconCross:hover {
    cursor: pointer;

}
 .createGrpChatBtn {
    border: none;
    /* box-shadow: 2px 2px 5px #949494; */
    border: 1px solid rgb(80, 68, 94);
    border-radius: 30px;
    background: rgb(38, 30, 47);
    font-size: 18px;
    color: white;
    padding: 5px;
    height: 35px;
    width: 135px;
    margin-left: 73%;
    margin-top: 40px;
    padding-bottom: 5px;
    background: rgb(37, 32, 43);
}
.createGrpChatBtn:hover {
    cursor: pointer;
    background: rgb(52, 46, 59);
}

.hidden {
    display: none;
}
.top-part2 {
    background: red;
    z-index: 99999;
}

.no-conversations {
    color: white;
    border: 0px solid red;
    margin-left: 15rem;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.no-conversations span {
    font-size: 25px;

}

.grp-popup {
    border: 1px solid rgba(122, 122, 122, 0.386);
    max-height: 286px;
    width: 382px;
    position: absolute;
    background: #1e1827;
    top: 148px;
    border-radius: 30px;
    padding: 10px;
    z-index: 99;
    color: white;
    left: 88px;
} 
.grp-popup h2 {
    font-size: 24px;
    margin-left: 16px;
    margin-top: 10px;
}
.grp-popupResultsContainer {
    border: 0px solid blue;
    padding: 5px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .additional-div {
    position: absolute;
    border: 1px solid #38333d;
    border-radius: 30px;
    top: 81px;
    width: 355px;
    background: #211e2a;
    color: white;
    padding: 10px;
  }
  .additional-div h2 {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
  }
  .groupMembersDiv {
    max-height: 252px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 30px;
    margin-left: 10px;
  }
  .groupMembers {
    display: flex;
  }
  .groupMembers img {
    height: 20px;
    width: 20px;
    border: 1px solid #211e2a;
    border-radius: 50px;

    margin-right: 20px;
  }
  .groupMembers p {
    font-weight: 500;
  }



@media (max-width: 1200px) {

    .grp-left-opt-menu {
        border: 0px solid rgb(250, 250, 250);
        border-radius: 12px;
        margin: 0px 5px;
        display: flex;
        flex-direction: column;
        height: 97vh;
        margin-right: 2px;
    }
    .container .left-group-menu {
        border: 0px solid red;
        border-radius: 12px;
        height: 95vh;
        /* margin-bottom: 20px; */
        padding: 10px;
        /* box-shadow: 0px 0px 5px 3px #e8e8e8; */
    }
    .CreateGrpIcon {
        border: none;
        
        border: 1px solid #534b66;
        color: white;
        border-radius: 20px;
        height: 50px;
        width: 288px;
        margin-left: 5px;
        margin-top: 40px;
        margin-bottom: 10px;
        background: transparent;
    }
} 
@media (min-width: 920px) and (max-width: 1025px) {    
    .grp-left-opt-menu {
        border: 0px solid rgb(250, 250, 250);
        border-radius: 12px;
        margin: 0px 5px;
        display: flex;
        flex-direction: column;
        height: 97vh;
        margin-right: -24px;
    }
    .container .left-group-menu {
        border: 0px solid red;
        border-radius: 12px;
        height: 95vh;
        /* margin-bottom: 20px; */
        padding: 10px;
        /* box-shadow: 0px 0px 5px 3px #e8e8e8; */
    }
    .CreateGrpIcon {
        border: none;
        
        border: 1px solid #534b66;
        color: white;
        border-radius: 20px;
        height: 50px;
        width: 226px;
        margin-left: 24px;
        margin-top: 40px;
        margin-bottom: 10px;
        background: transparent;
    }
    .grpOuterDiv {
        background: #211e2a;
        height: 106vh;
        width: 106vw;
    }
}    
@media (max-width: 769px) {
    .grp-left-opt-menu {
        border: 0px solid rgb(250, 250, 250);
        border-radius: 12px;
        margin: 0px 5px;
        display: flex;
        flex-direction: column;
        height: 97vh;
        margin-right: -24px;
    }
    .container .left-group-menu {
        border: 0px solid red;
        border-radius: 12px;
        height: 95vh;
        /* margin-bottom: 20px; */
        padding: 10px;
        /* box-shadow: 0px 0px 5px 3px #e8e8e8; */
    }
    .CreateGrpIcon {
        border: none;
        
        border: 1px solid #534b66;
        color: white;
        border-radius: 20px;
        height: 50px;
        width: 226px;
        margin-left: 24px;
        margin-top: 40px;
        margin-bottom: 10px;
        background: transparent;
    }
    .grpOuterDiv {
        background: #211e2a;
        height: 121vh;
        width: 121vw;
    }
}    
@media (max-width: 427px) {
    .grpOuterDiv {
        background: #211e2a;
        height: 121vh;
        width: 121vw;
        z-index: 9;
    } 
    .grp-left-opt-menu {
        display: none;
    }
    .container .left-group-menu {
        border: 0px solid red;
        width: 128vw;
        height: 119vh;
        /* z-index: 9999; */
        display: block;
        z-index: 9;
    } 
    .grp-main-chat-section {
        border-radius: 30px;
    border: 0px solid #6b598cb7;
    /* box-shadow: 0px 0px 5px 3px #e8e8e8; */
    background: #1b1720;
    width: 148vw;
    height: 119.1vh;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    margin-left: -446px;
    border-radius: 12px;
    z-index: 9999;
    }
    .grp-mid-part {
        margin: 20px 0px;
    
        margin: 20px 0px;
        border: 1px solid #312843df;
        max-height: 524px;
        width: 473px;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 35px;
        border-radius: 35px;
    }
    .grp-mid-part span {
        color: #afa2c8; 
        font-size: 25px;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 13px;
        margin-bottom: 20px;
    }
    .no-conversations {
        color: white;
        border: 2px solid rgb(95, 246, 8);
        margin-left: -11rem;
        font-size: 30px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px;
        z-index: 999;
        display: none;
    }
    .no-conversations span {
        font-size: 25px;
    
    }

    .grp-chat-bottom {
        border: 0px solid red;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .grp-main-chat-section .grp-chat-bottom .grp-chat-input {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grp-main-chat-section .grp-chat-bottom .grp-chat-input input[type=text] {
        border: 0px solid rgb(213, 213, 213);
        font-size: 20px;
        border-radius: 20px;
        background :#3e354e;
        color: #fcfcfc;
        height: 45px;
        width: 79vw;
    }
    .grp-inner-container {
        margin-top: 6px;
        border: 0px solid red;
        background: #332e3cb7;
        border-radius: 12px;
        width: 100%;
        height: 90%;
        overflow: scroll;
        margin-bottom: 9px;
    }
    
    .grp-chat-bottom .submit-btn-class {
        padding: 0;
        margin-top: -2px;
        margin-left: 10px;
    }
    .create-group-modal{
        border: 1px solid rgb(65, 52, 78);
        border-radius: 30px;
        /* box-shadow: 5px 5px 12px rgb(147, 147, 147); */
        background: rgb(38, 33, 45);
        position: absolute;
        margin-left: 40%;
        margin-top: 10%;
        padding: 20px;
        left: -152px;
        top: 212px;
        height: -moz-fit-content;
        height: fit-content;
        width: 477px;
        z-index: 9999;
    }
    .modal-content .grp-name input {
        border: 1px solid rgb(78, 64, 93);
        height: 45px;
        width: 102vw;
        border-radius: 20px;
        padding: 5px;
        padding-left: 30px;
        color: white;
    }
    .modal-content .grp-name input:focus {
    }
    /* add members input style */
    .modal-content .add-members {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal-content .add-members-input {
        display: flex;
    }
    .modal-content .add-members-input input {
        border: 1px solid rgb(78, 64, 93);
        height: 45px;
        /* width: 96%; */
        width: 102vw;
        border-radius: 20px;
        padding: 5px;
        padding-left: 10px;
        padding-left: 30px;
        color: white;
    }
    .createGrpChatBtn {
        border: none;
        /* box-shadow: 2px 2px 5px #949494; */
        border: 1px solid rgb(80, 68, 94);
        border-radius: 30px;
        background: rgb(38, 30, 47);
        font-size: 18px;
        color: white;
        padding: 5px;
        height: 35px;
        width: 135px;
        margin-left: 70%;
        margin-top: 40px;
        padding-bottom: 5px;
        background: rgb(37, 32, 43);
    }

    .grp-popup {
        border: 1px solid rgba(122, 122, 122, 0.386);
        max-height: 286px;
        width: 382px;
        position: absolute;
        background: #1e1827;
        top: 148px;
        border-radius: 30px;
        padding: 10px;
        z-index: 99;
        color: white;
        left: 22px;
    } 
    .grp-popup h2 {
        font-size: 24px;
        margin-left: 16px;
        margin-top: 10px;
    }
    .grp-popupResultsContainer {
        border: 0px solid blue;
        padding: 5px;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .grp-top-part {
        display: flex;
        flex-direction: column;
        width: 425px; 
    }
    
    .grp-top-part-opt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 425px;
        align-items: center;
        margin-left: 20px;
    }
    .grp-top-part-opt h1 {
        color: #ffffff;
        color: #f1efef;
        font-weight: 500;
    }
    .grp-top-part-opt svg{
        color: #706194;
        cursor: pointer;
    }
    .grp-top-search-bar {
        margin-top: 20px;
        width: 457px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .grp-top-search-bar input[type=text]{
        width: 383px;
        height: 45px;
        padding: 0px 15px;
        margin: 0px 10px;
        border-radius: 20px;
        border: 1px solid  #483e5c;
    }
    .top-search-bar input[type=text]:focus{
        outline: none;
        border: 2px solid #665688;
    }
    ::placeholder {
        padding: 20px;
        color: rgb(190, 190, 190);
    }
    .grp-top-search-bar .search-btn {
        border: 0px solid red;
        border-radius: 50px;
        height: 40px;
        width: 45px;
        background: #312843b7;
    }
    .grp-top-search-bar .search-icon {
        color: #64587b;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}    