/* *{
    background: rgba(244, 244, 244, 0.874);
} */
.container {
    margin: 0;
    background: none;
}

.RightBar {
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    border-radius: 25px;
    /* justify-content: flex-end; */
    margin-right: 5px;
    margin-left: 2px;
    background: rgb(255, 255, 255);
    margin-top: 10px;
    position: sticky;
    top: 0;
    background: #332a49;
    margin-bottom: 5px;
    box-shadow: 2px 5px 15px rgb(149, 149, 149);
}

/* box1 */
.item {
    /* border-bottom: 1px solid rgb(185, 185, 185); */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    /* height: 200px; */
    background: rgb(255, 255, 255);
    position: relative;
    left: 0px;
    /* box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.37);
-webkit-box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.37); */
    position: relative;

    color: white;
    background: #332a49;
}

.item .header {
    color: rgb(44, 44, 44);
    text-align: left;
    margin: 20px 15px;
    font-size: 25px;
    font-weight: 500;
    background: rgb(255, 255, 255);
    color: white;

    background: #32284e;
}

.user {
    margin: 20px;
    margin-left: 9px;
    margin-right: 0px;
    gap: 50px;
    display: flex;
    font-size: 20px;
    width: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 0px solid blue;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    padding: 5px 7px;
    color: white;
    background: #3d3061;
}

.userInfo {
    display: flex;
    flex-direction: row;
    background: white;
    align-items: center;
    color: white;
    border-radius: 20px;
    background: #3d3061;
}

.item .user .userInfo img {
    border-radius: 50%;
}

.userInfo h3 {
    background: white;
    font-size: 20px;
    font-weight: 400;
    color: rgba(36, 36, 36, 0.804);
    margin: 5px;
    color: white;
    background: #3d3061;
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: 30px;
    background: white;
    border-radius: 20px;
    background: #3d3061;
}

.buttons button {
    margin: 5px;
}

.buttons .btn1 {
    background: rgb(79, 56, 112);
    color: #9e75f2;
    border: none;
    border-radius: 50px;
    height: 41px;
    width: fit-content;
}

.buttons .btn1:hover {
    color: #6b20ff;
    cursor: pointer;
}

.buttons .btn1 .btn1Icon {
    margin-top: 3px;
}

.buttons .btn2 {
    background: rgb(79, 56, 112);
    color: rgb(238, 176, 176);
    border: 0px solid grey;
    border-radius: 50px;
    height: 41px;
    width: fit-content;

}

.buttons .btn2:hover {
    color: rgb(255, 138, 138);
    cursor: pointer;
}

.buttons .btn2 .btn2Icon {
    margin-top: 3px;
}

.item .more {
    border: 0px solid rgb(220, 220, 220);
    height: fit-content;
    width: 5rem;
    padding: 2px 0px;
    background: rgb(240, 240, 240);
    color: rgb(68, 68, 68);
    border-radius: 12px;
    text-align: center;
    margin: auto;
    /* margin: 10px 50px; */
    cursor: pointer;
}

.suggestedUsers {
    height: 28rem;
    width: 35rem;
    border: 0px solid red;
    border-radius: 8px;
    position: absolute;
    background: white;
    top: 30%;
    right: 150%;
    padding: 20px;
    -webkit-box-shadow: 9px 7px 43px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 7px 43px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 7px 43px 4px rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    overflow-y: auto;
}

.suggestedUsers .heading {
    display: flex;
    justify-content: space-between;
}

.suggestedUsers .closeIcon {
    cursor: pointer;
}

.suggestedUsers h2 {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 21px;
}


/* box1 ends */

/* box2 starts */
.item2 {
    /* border: 1px solid rgb(255, 255, 255); */
    /* border-bottom: 1px solid rgb(185, 185, 185); */
    display: flex;
    flex-direction: column;
    line-height: 30px;
    border-radius: 0px;
    height: fit-content;
    background: rgb(255, 255, 255);
    margin: 15px 0px;
    /* box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.37);
-webkit-box-shadow: 7px 27px 28px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.37); */

    background: #332a49;
}

.item2 .header {
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 10px 15px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    background: #332a49;
    margin-bottom: 20px;
}

.item2 .user2 .userInfo img {
    border-radius: 50%;
}

.user2 {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.user2 .userInfo {
    background: none;
}

.user2 h3 {
    background: none;
    color: #b8b4be;
}

.user2 p {
    color: #847998;
    margin: 0;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 100;
    background: white;
    background: #332a49;
}

.user3 {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.item2 .user3 .userInfo img {
    border-radius: 50%;
}

.user3 .userInfo {
    background: none;
}

.user3 h3 {
    background: none;
    color: #b8b4be;
}

.user3 p {
    color: #847998;
    margin: 0;
    margin-left: 5px;
    background: white;
    background: #332a49;
}

.user4 {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.item2 .user4 .userInfo img {
    border-radius: 50%;
}

.user4 .userInfo {
    background: none;
}

.user4 h3 {
    background: none;
    color: #b8b4be;
}

.user4 p {
    color: #847998;
    margin: 0;
    margin-left: 5px;
    background: white;
    background: #332a49;
}

.user5 {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.item2 .user5 .userInfo img {
    border-radius: 50%;
}

.user5 .userInfo {
    background: none;
}

.user5 h3 {
    background: none;
    color: #b8b4be;
}

.user5 p {
    color: #847998;
    margin: 0;
    margin-left: 5px;
    background: white;
    background: #332a49;
}

.more {
    border: 0px solid rgb(220, 220, 220);
    height: fit-content;
    width: 5rem;
    background: #2a223d;
    color: rgb(184, 184, 184);
    border-radius: 12px;
    text-align: center;
    margin: auto;
    /* margin: 10px 50px; */
    cursor: pointer;
}

/* box2 ends */

/* box3 starts */
.item3 {
    /* border-bottom: 1px solid rgb(185, 185, 185); */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 290px;
    margin: 10px 0px;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
    /* box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.37);
-webkit-box-shadow: 7px 27px 28px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 7px 7px 28px 0px rgba(0,0,0,0.37); */

    background: #332a49;
}

.item3 .header {
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 10px 15px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.item3 .user6 .userInfo img {
    border-radius: 50%;
}

.user6 {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.user6 .userInfo {
    background: none;
}

.user6 h3 {
    background: none;
}

.user6 .userInfo circle {
    border: 2px solid #805cdd;
    background: #805cdd;
    border-radius: 50px;
    margin-left: 5px;
    width: 6px;
    height: 6px;
}

.item3 .user7 .userInfo img {
    border-radius: 50%;
}

.user7 {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.user7 .userInfo {
    background: none;
}

.user7 h3 {
    background: none;
}

.user7 .userInfo circle {
    border: 2px solid #805cdd;
    background: #805cdd;
    border-radius: 50px;
    margin-left: 5px;
    width: 6px;
    height: 6px;
}

.item3 .user8 .userInfo img {
    border-radius: 50%;
}

.user8 .userInfo {
    background: none;
}

.user8 h3 {
    background: none;
}

.user8 {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.user8 .userInfo circle {
    border: 2px solid #805cdd;
    background: #805cdd;
    border-radius: 50px;
    margin-left: 5px;
    width: 6px;
    height: 6px;
}

.item3 .user9 .userInfo img {
    border-radius: 50%;
}

.user9 {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    background: #332a49;
}

.user9 .userInfo {
    background: none;
}

.user9 h3 {
    background: none;
}

.user9 .userInfo circle {
    border: 2px solid #805cdd;
    background: #805cdd;
    border-radius: 50px;
    margin-left: 5px;
    width: 6px;
    height: 6px;
}






/* media queries */
/* Laptop-large screen */


/* laptop */
@media (max-width: 1026px) {
    .RightBar {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        width: 240px;
        margin-right: 15px;
        /* margin-top: 20px; */
    }

    .item .header {
        color: rgb(44, 44, 44);
        text-align: left;
        margin: 20px 15px;
        font-size: 20px;
        font-weight: 500;
        background: rgb(255, 255, 255);
        color: white;

        background: #32284e;
    }

    .user {
        margin: 20px;
        margin-left: 9px;
        margin-right: 0px;
        gap: 50px;
        display: flex;
        font-size: 15px;
        width: fit-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border: 0px solid blue;
        border-radius: 20px;
        background: rgb(255, 255, 255);
        padding: 5px 7px;
        color: white;
        background: #3d3061;
    }

    .item1 .userInfo h3 {
        background: white;
        font-size: 20px;
        font-weight: 400;
        color: rgba(36, 36, 36, 0.804);
        margin: 5px;
        color: white;
        background: #3d3061;
    }

    .buttons {
        display: flex;
        align-items: center;
        margin-left: -36px;
        background: white;
        border-radius: 20px;
        background: #3d3061;
    }
    .item2 .header {
        color: rgb(255, 255, 255);
        text-align: left;
        margin: 10px 15px;
        font-size: 20px;
        background: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 500;
        background: #332a49;
        margin-bottom: 20px;
    }
    .item2 h3 {
        font-size: 18px;
    }
    .item2 p{
        font-size: 14px;
    }
    .more {
        border: 0px solid rgb(220, 220, 220);
        height: fit-content;
        width: 4rem;
        font-size: 15px;
        background: #2a223d;
        color: rgb(184, 184, 184);
        border-radius: 12px;
        text-align: center;
        margin: auto;
        /* margin: 10px 50px; */
        cursor: pointer;
    }
    .item3 .header {
        color: rgb(255, 255, 255);
        text-align: left;
        margin: 10px 15px;
        font-size: 20px;
        font-weight: 500;
        background: rgb(255, 255, 255);
        background: #332a49;
    }
    
}


/* tablet screen */

@media (min-width: 768px) and (max-width: 950px) {
    .RightBar {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        /* margin-right: 15px; */
        width: 200px;
        /* margin-top: 20px; */
    }


}


@media (max-width: 768px) {
    .RightBar {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        /* margin-right: 15px; */
        width: 190px;
        /* margin-top: 20px; */
    }
    .user {
        margin: 20px;
        margin-left: 9px;
        margin-right: 0px;
        gap: 91px;
        display: flex;
        font-size: 20px;
        width: fit-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border: 0px solid blue;
        border-radius: 20px;
        background: rgb(255, 255, 255);
        padding: 5px 7px;
        color: white;
        background: #3d3061;
    }
    
    .item .header {
        color: rgb(44, 44, 44);
        text-align: left;
        margin: 20px 15px;
        font-size: 15px;
        font-weight: 500;
        background: rgb(255, 255, 255);
        color: white;

        background: #32284e;
    }
    .item .userInfo h3 {
        background: white;
        font-size: 13px;
        font-weight: 400;
        color: rgba(36, 36, 36, 0.804);
        margin: 5px;
        color: white;
        background: #3d3061;
    }
    .buttons {
        display: flex;
        align-items: center;
        margin-left: -93px;
        background: white;
        border-radius: 20px;
        background: #3d3061;
        font-size: 10px;
    }
    .buttons .btn1 {
        background: rgb(79, 56, 112);
        color: #9e75f2;
        border: none;
        border-radius: 50px;
        height: 36px;
        width: fit-content;
        font-size: 13px;
    }
    
    .buttons .btn1:hover {
        color: #6b20ff;
        cursor: pointer;
    }
    
    .buttons .btn1 .btn1Icon {
        margin-top: 3px;
        font-size: 18px;
    }
    
    .buttons .btn2 {
        background: rgb(79, 56, 112);
        color: rgb(238, 176, 176);
        border: 0px solid grey;
        border-radius: 50px;
        height: 36px;
        width: fit-content;
    
    }
    .buttons .btn2 .btn2Icon {
        margin-top: 3px;
        font-size: 18px;
    }
    .item2 .header {
        color: rgb(255, 255, 255);
        text-align: left;
        margin: 10px 15px;
        font-size: 15px;
        background: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 500;
        background: #332a49;
        margin-bottom: 20px;
    }
    .item2 h1{
        font-size: 14px;
    }
    .item2 h3 {
        font-size: 15px;
    }
    .item2 p{
        font-size: 12px;
    }
    .item3 .header {
        color: rgb(255, 255, 255);
        text-align: left;
        margin: 10px 15px;
        font-size: 15px;
        font-weight: 500;
        background: rgb(255, 255, 255);
        background: #332a49;
    }
}

/* mobile styles */

/* @media (max-width: 427px) {

    .container {
        display: none;
    }

} */



/* Soura (Date:7/8/2023) */
/**/

@media (max-width: 440px) {
    /* original code */
    .leftBar {
        display: block;
        position: absolute;
        transition: top 1s ease-in-out;
        /* top: 100px; */
        background: red;
        z-index: -999;
        display: none;
    }


    .rightbar_show {
        width: 50px;
        position: absolute;
        z-index: 999;
        /* left: 0px; */
        width: 115vw;
        height: 65vh;
        /* New */
        margin-top: -60px;
        /* transition: 0.35s ease-in; */
        transform: translateY(15%);
        background: white;
        /* background: transparent; */
        /* backdrop-filter: blur(10px) saturate(180%); */
    }

}


@media (max-width: 440px) {
    .container {
        display: none;
    }
}