/* YourComponent.css */
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,500&family=Open+Sans&family=Poppins:wght@300&family=Quicksand:wght@400;500;600&family=Roboto+Slab:wght@300;400;600&family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif; 
    /* global font style */
}

/* body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
} */

.yourComponentBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }


header {
    margin: 0px 30px;
    font-size: 25px;
    text-align: left;
}
header h2{
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    text-align: center;
}

#profile {
    display: flex;
    flex-direction: column;
}

#profilePic h2 {
    font-size: 25px;
    align-items:center ;
}

.image-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
    border: solid gray;
}


#profileBio #Name {
    font-size: 30px;
    margin-bottom: 20px;
}

/* #profileBio input {
    height: auto;
    width: 50px;
    background: white;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    resize: vertical;
}
input::placeholder {
    text-align: center;
} */

#interests {
    display: flex;
    flex-direction: column;
}

#interests h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#interests h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#interestsList ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 540px;
}
.auto-size-text-box {
    width: auto;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; 
    line-height: auto;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}
/* .input-box{
    width: auto;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; 
    line-height: auto;
} */



#interestsList li {
    border: 1px solid rgb(163, 163, 163);
    color: rgb(47, 47, 47);
    padding: 10px;
    border-radius: 50px;
    min-width: 80px;
    cursor: pointer;
}
#interestsList li:hover{
    background-color: rgb(196, 196, 196);
}

#interestsList li.selected {
    background-color: rgba(164, 121, 250, 1);
    border: none;
    color: white;
}

#btn {
    display: flex;
    justify-content: flex-end;
}

button {
    margin-top: 20px;
    width: 20%;
    padding: 5px 10px;
    background: white;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 8px;
    font-size: 15px;
}
button:hover{
    background-color: rgb(196, 196, 196);
}

button.selected {
    background-color: rgba(164, 116, 250, 1);
    border: none;
    color: white;
}

.whole{
    padding: 0px;
    
}
.personalizerScreen1 {
    height: 130vh;
    width: 99.3vw;
    margin: 0px;
    background-image: url("./pexels-merlin-lightpainting-10874566.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px;
}
.personalizerScreen1 .part1 {
    display: flex;
}
.personalizerScreen1::before {
    content: ""; /* Necessary for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.374); /* Adjust opacity here */
    z-index: 9;
}

/* .personalizerScreen1 header h1{
    font-size: 70px;
    color: white;
    font-weight: 900;
    text-shadow: 5px 2px 5px rgba(0,0,0,0.6);

    position: relative;
    z-index: 1;
} */

.personalizerScreen1 header{
    margin-top: 100px;
    text-align: left;

}
.personalizerScreen1 header h1{
    font-size: 4rem;
    color: white;
    font-weight: 400;
    z-index: 99;
    position: relative;
    text-shadow: 5px 2px 5px rgba(0,0,0,0.6);
}
.personalizerScreen1 header h2{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.785);
    font-weight: 200;
    z-index: 99;
    position: relative;
    text-shadow: 5px 2px 5px rgba(0,0,0,0.6);
    margin-top: 50px;
    margin-left: 90px;
}
#profile {
    border: 1px solid red;
    height: fit-content;
    margin-top: 190px;
    margin-left: 210px;
    z-index: 99;
    padding: 30px;

    width: 30%;
    

    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 30px;
    border: 0px solid rgba(255, 255, 255, 0.125);
    color: white;
}
.addBio {
    font-size: 20px;
}
.auto-size-text-box {
    width: auto;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ededed91;
    text-align: center; 
    line-height: auto;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}
.image-container img {
    cursor: pointer;
}


.part2 {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.part2 h1 {
    color: white;
}
.goDownIcon {
        background: rgba(255, 255, 255, 0.79);
        color: rgba(0, 0, 0, 0.926);
        height: 40px;
        width: 40px;
        border-radius: 50px;
        font-size: 20px;
        padding-top: 8px;
        
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    color: rgba(255, 255, 255, 0.84);
    cursor: pointer;
}

#interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    padding: 150px 0px;
}
#interests h2 {
    font-size: 50px;
}
#interests h4 {
    font-size: 25px;
}

#interestsList {
    margin-top: 50px;
}
#interestsList ul {
    align-items: center;
    justify-content: center;
}
#interestsList li {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(225, 225, 225);
    padding: 7px 35px;
}
#interestsList li:hover {
    border: 1px solid rgb(115, 8, 221);
    background: rgb(115, 8, 221);
    color: white;
}
#ConfirmBtn {
    width: fit-content;
    padding: 10px 40px;
    margin-top: 15px;
    border-radius: 30px;
    border: 1px solid rgb(62, 0, 123);
    background: rgb(62, 0, 123);
    color: white;
    margin-bottom: 30px;
}
#ConfirmBtn:hover {
    background: rgb(49, 4, 94);
    cursor: pointer;
}

#interestsList li.selected {
    border: 1px solid rgb(115, 8, 221);
    background-color: rgb(115, 8, 221);
    color: rgb(255, 255, 255);
}

@media (max-width: 1024px) {
    #profile {
        border: 1px solid red;
        height: fit-content;
        margin-top: 190px;
        margin-left: -30px;
        z-index: 99;
        padding: 30px;
    
        width: 30%;
        
    
        backdrop-filter: blur(15px) saturate(180%);
        -webkit-backdrop-filter: blur(15px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.5);
        border-radius: 30px;
        border: 0px solid rgba(255, 255, 255, 0.125);
        color: white;
    }
} 

@media (max-width: 1024px) {
    .personalizerScreen1 header{
        margin-top: 100px;
        text-align: left;
    
    }
    .personalizerScreen1 header h1{
        font-size: 3rem;
        color: white;
        font-weight: 400;
        z-index: 99;
        position: relative;
        text-shadow: 5px 2px 5px rgba(0,0,0,0.6);
    }
    .personalizerScreen1 header h2{
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.785);
        font-weight: 200;
        z-index: 99;
        position: relative;
        text-shadow: 5px 2px 5px rgba(0,0,0,0.6);
        margin-top: 50px;
        margin-left: 90px;
    }
    #profile {
        border: 1px solid red;
        height: fit-content;
        margin-top: 190px;
        margin-left: -30px;
        z-index: 99;
        padding: 30px;
    
        width: 30%;
        
    
        backdrop-filter: blur(15px) saturate(180%);
        -webkit-backdrop-filter: blur(15px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.5);
        border-radius: 30px;
        border: 0px solid rgba(255, 255, 255, 0.125);
        color: white;
    }
}    

@media only screen and (max-width: 768px) {
    .personalizerScreen1 header{
        margin-top: 2px;
        text-align: center;
    
    }
    
    #profile {
        border: 1px solid red;
        height: fit-content;
        margin-top: 190px;
        margin-left: -396px;
        z-index: 99;
        padding: 30px;
    
        width: 50%;
        height: 393px;
        backdrop-filter: blur(15px) saturate(180%);
        -webkit-backdrop-filter: blur(15px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.5);
        border-radius: 30px;
        border: 0px solid rgba(255, 255, 255, 0.125);
        color: white;
    }
    
}


@media (max-width: 440px) {
    .personalizerScreen1 header{
        margin-top: 2px;
        text-align: center;
    
    }
    .personalizerScreen1 header h1{
        font-size: 3rem;
        color: white;
        font-weight: 400;
        z-index: 99;
        position: relative;
        margin-left: 133px;
        text-shadow: 5px 2px 5px rgba(0,0,0,0.6);
    }
    .personalizerScreen1 header h2{
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.785);
        font-weight: 200;
        z-index: 99;
        position: relative;
        text-shadow: 5px 2px 5px rgba(0,0,0,0.6);
        margin-top: 50px;
        margin-left: 90px;
    }
    #profile {
        border: 1px solid red;
        height: fit-content;
        margin-top: 188px;
        margin-left: -472px;
        z-index: 99;
        padding: 30px;
    
        width: 70%;
        height: 393px;
        backdrop-filter: blur(15px) saturate(180%);
        -webkit-backdrop-filter: blur(15px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.5);
        border-radius: 30px;
        border: 0px solid rgba(255, 255, 255, 0.125);
        color: white;
    }

    .personalizerScreen1 {
        height: 130vh;
        width: 160.3vw;
        margin: 0px;
        background-image: url("./pexels-merlin-lightpainting-10874566.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 50px;
    }
    .personalizerScreen1 .part1 {
        display: flex;
    }
    .personalizerScreen1::before {
        content: ""; /* Necessary for pseudo-elements */
        position: absolute;
        top: 0;
        left: 0;
        width: 130%;
        height: 130%;
        background-color: rgba(0, 0, 0, 0.374); /* Adjust opacity here */
        z-index: 9;
    }
    .part2 {
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-left: 149px;
    }
    .part2 h1 {
        color: white;
    }
    .goDownIcon {
        background: rgba(255, 255, 255, 0.79);
        color: rgba(0, 0, 0, 0.926);
        height: 40px;
        width: 40px;
        border-radius: 50px;
        font-size: 20px;
        padding-top: 8px;
        margin-top: 14px;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    color: rgba(255, 255, 255, 0.84);
    cursor: pointer;
    }
    #interests {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        margin-left: 128px;
        background: black;
        padding: 150px 0px;
    }
    #interests h2 {
        font-size: 45px;
    }
    #interests h4 {
        font-size: 25px;
    }
    #ConfirmBtn {
        width: fit-content;
        padding: 10px 40px;
        margin-top: 15px;
        border-radius: 30px;
        border: 1px solid rgb(62, 0, 123);
        background: rgb(62, 0, 123);
        color: white;
        height: 65px;
        width: 252px;
        margin-bottom: 30px;
        font-size: 22px;
    }
}    
