/* background-image: url("../../assets/img2.png"); */


.pwcontainer {
    padding: 20px;
    display: flex;
    position: relative;
}
.pwcontainer .side {
    width: 53vw;
    height: 90vh;
    margin-left: 8vw;
    border: 0px solid red;
    background-image: url("../../assets/img2.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center; 
    background-position-y: center;
    padding: 30px;
}
.forgotpwDiv {
    position: absolute;
    border: 1px solid rgb(239, 239, 239);
    height: 70vh;
    right: 160px;
    top: 100px;
    padding: 30px;
    box-shadow: 2px 10px 12px #e7e7e7;
    background: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(40px) saturate(155%);
    -webkit-backdrop-filter: blur(30px) saturate(115%);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.forgotpwDiv  h2 {
    color: rgb(67, 30, 104);
}
.forgotpwDiv p {
    margin-top: 40px;
    color: rgb(166, 141, 190);
    font-weight: 500;
}
.forgotpwDiv input{
    border: 2px solid rgb(132, 61, 203);
    background: rgba(255, 255, 255, 0.396);
    height: 50px;
    border-radius: 20px;
    margin-top: 50px;
    color: black;
    font-weight: 500;
}
.forgotpwDiv input:focus {
    border: 3px solid rgb(154, 69, 239);
}
.forgotpwDiv button {
    margin-top: 50px;
    background: rgb(132, 61, 203);
    font-weight: 500;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .forgotpwDiv {
        position: absolute;
        border: 1px solid rgb(239, 239, 239);
        height: 70vh;
        right: 1px;
        top: 30px;
        padding: 30px;
        box-shadow: 2px 10px 12px #e7e7e7;
        background: rgba(255, 255, 255, 0.445);
        backdrop-filter: blur(40px) saturate(155%);
        -webkit-backdrop-filter: blur(30px) saturate(115%);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px;
    }
}    
@media (max-width: 440px) {
    .pwcontainer {
        padding: 20px;
        display: flex;
        position: relative;
    }
    .pwcontainer .side {
        width: 96vw;
        height: 90vh;
        margin-left: 8vw;
        border: 0px solid red;
        background-image: url("../../assets/img2.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position-x: center; 
        background-position-y: center;
        padding: 30px;
    }
    .forgotpwDiv {
        position: absolute;
        border: 1px solid rgb(239, 239, 239);
        height: 70vh;
        right: 1px;
        top: 30px;
        padding: 30px;
        box-shadow: 2px 10px 12px #e7e7e7;
        background: rgba(255, 255, 255, 0.445);
        backdrop-filter: blur(40px) saturate(155%);
        -webkit-backdrop-filter: blur(30px) saturate(115%);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px;
    }
    .forgotpwDiv  h2 {
        color: rgb(67, 30, 104);
    }
    .forgotpwDiv p {
        margin-top: 40px;
        color: rgb(166, 141, 190);
        font-weight: 500;
    }
    .forgotpwDiv input{
        border: 2px solid rgb(132, 61, 203);
        background: rgba(255, 255, 255, 0.396);
        height: 50px;
        border-radius: 20px;
        margin-top: 50px;
        color: black;
        font-weight: 500;
        width: 303px;
    }
    input::placeholder {
        color: rgba(0, 0, 0, 0.663);
        font-size: 15px;
    }
    .forgotpwDiv input:focus {
        border: 3px solid rgb(154, 69, 239);
    }
    .forgotpwDiv button {
        margin-top: 50px;
        background: rgb(132, 61, 203);
        font-weight: 500;
        color: white;
        padding: 10px 10px;
        border-radius: 30px;
        cursor: pointer;
        width: 143px;
    }
}    