.rpcontainer {
    position: relative;
    border: 0px solid blue;
    background-image: url("../../assets/img4.png"); 
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center; 
    background-position-y: center;
    padding: 30px;
    height: 100vh;
    width: 100vw;

}

.resetBox {
    border: 1px solid rgb(239, 239, 239);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 150px;
    margin: auto;
    left: 31%;
    padding: 40px;
    width: fit-content;
    

    box-shadow: 2px 10px 12px #e7e7e78f;
    background: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(50px) saturate(195%);
    -webkit-backdrop-filter: blur(30px) saturate(115%);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 380px;
}
.resetBox h2 {
    color: rgba(0, 0, 0, 0.742);
    margin-bottom: 30px;
}
.password-input {
    border: 2px solid rgb(132, 61, 203);
    background: rgba(255, 255, 255, 0.396);
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
}
.resetBox input {
    height: 50px;
    border-radius: 20px;
    color: black;
    font-weight: 500;
    position: relative;
}
.resetBox input::placeholder {
    color: rgba(0, 0, 0, 0.663);
}
.toggle-password-icon {
    position: absolute;
    top: 42%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(90, 43, 136);
  }
  .toggle-password-icon1 {
    position: absolute;
    top: 60%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(90, 43, 136);
  }
.resetBox button {
    margin-top: 40px;
    background: rgb(132, 61, 203);
    font-weight: 500;
    color: white;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
}
.resetBox p {
    margin: 0;
    font-size: 15px;
    bottom: 93px;
    font-weight: 500;
    position: absolute;
}
@media (max-width: 768px) {
    .resetBox {
        border: 1px solid rgb(239, 239, 239);
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 96px;
        margin: auto;
        left: 96px;
        padding: 40px;
        width: fit-content;
        
    
        box-shadow: 2px 10px 12px #e7e7e78f;
        background: rgba(255, 255, 255, 0.445);
        backdrop-filter: blur(50px) saturate(195%);
        -webkit-backdrop-filter: blur(30px) saturate(115%);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 380px;
    }
}
@media (max-width: 440px) {
    .rpcontainer {
        position: relative;
        border: 0px solid blue;
        background-image: url("../../assets/img4.png"); 
        background-repeat: no-repeat;
        background-size: 90%;
        background-position-x: center; 
        background-position-y: center;
        padding: 30px;
        height: 100vh;
        width: 100vw;
    
    }
    
    .resetBox {
        border: 1px solid rgb(239, 239, 239);
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 96px;
        margin: auto;
        left: 27px;
        padding: 40px;
        width: fit-content;
    
    
        box-shadow: 2px 10px 12px #e7e7e78f;
        background: rgba(255, 255, 255, 0.445);
        backdrop-filter: blur(50px) saturate(195%);
        -webkit-backdrop-filter: blur(30px) saturate(115%);
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 380px;
    }
    .password-input {
        border: 2px solid rgb(132, 61, 203);
        background: rgba(255, 255, 255, 0.396);
        height: 50px;
        border-radius: 20px;
        margin-top: 20px;
        color: black;
        font-weight: 500;
    }
    .resetBox input {
        height: 50px;
        width: 284px;
        border-radius: 20px;
        color: black;
        font-weight: 500;
        position: relative;
    }
    .resetBox input::placeholder {
        color: rgba(0, 0, 0, 0.663);
    }
    .toggle-password-icon {
        position: absolute;
        top: 42%;
        right: 50px;
        transform: translateY(-50%);
        cursor: pointer;
        color: rgb(90, 43, 136);
      }
      .toggle-password-icon1 {
        position: absolute;
        top: 60%;
        right: 50px;
        transform: translateY(-50%);
        cursor: pointer;
        color: rgb(90, 43, 136);
      }
    .resetBox button {
        margin-top: 40px;
        background: rgb(132, 61, 203);
        font-weight: 500;
        color: white;
        padding: 10px 10px;
        border-radius: 30px;
        cursor: pointer;
        width: 100px;
    }
    .resetBox p {
        margin: 0;
        font-size: 15px;
        bottom: 93px;
        font-weight: 500;
        position: absolute;
    }
}    