.create-story-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.image-upload {
    margin-bottom: 20px;
}

#file-input {
    display: none;
}

.create-story-container label {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid black;
    /* background-color: #3498db; */
    color: #fff;
    border-radius: 5px;
}

.preview-container {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}