@import "../../style.css";

.post {
  /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
  border-radius:30px;
  /* background-color: themed("bg"); */
  background: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 226);
  color: themed("textColor");
  /* background: red; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

.container {
  /* padding: 20px; */
  margin: 20px;
  /* background: rgb(0, 157, 255); */
}

.post .content p {
  color: rgb(52, 52, 52);
  font-size: 25px;
}
.post .content .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 30px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.post .content .gallery img {
  height: fit-content;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}
.post .content .gallery div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.post .content .gallery .showFullImgContainer {
  border: 0px solid red;
  padding: 5px;
  position: absolute;
  border-radius: 12px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.21);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

    z-index: 998;
    box-shadow: 0 2px 15px 2px rgba(87, 87, 87, 0.7);
  height: 647px;
  width: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  left: -82px;
  top: -140px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(123, 123, 123, 0.226);
}
.post .content .gallery .showFullImgContainer h2{
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(83, 83, 83);
}
.post .content .gallery .showFullImg{
  border: 0px solid red;
  /* position: absolute; */
  background: rgb(255, 255, 255);
  border-radius: 12px;
  height: 470px;
  width: 680px;
  padding: 0px;
  top: -128px;
  z-index: 999;
  left: 50px;
  background: transparent;
}
.post .content .gallery .showFullImg img {
  position: relative;
  height: 100%;
  width: 100%;

  max-width: 100%;
    max-height: 100%;
    width: auto; /* Ensure that the width adjusts proportionally */
    height: auto;
}
.post .content .gallery .showFullImg button {
  position: absolute;
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  color: rgb(249, 249, 249);
  border: 0px solid rgb(197, 197, 197);
  padding: 4px;
}

.post .content .gallery .showFullImg .prevImgBtn {
  left: 5px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.526);
}
.post .content .gallery .showFullImg .nextImgBtn {
  right: 5px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.526);
}
.post .content .gallery .showFullImg .closeImgBtn {
  top: 5px;
  right: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.526);
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.userInfo {
  display: flex;
  gap: 20px;



}

.userInfo>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.details {
  display: flex;
  flex-direction: column;
}

.details>.name {
  font-weight: 500;
  font-size: 25px;
}
.details .name {
  color: rgb(102, 97, 105);
  font-weight: 500;
  font-size: 23px;
}

.details>.date {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 500;
  color: rgb(190, 190, 190);
}

.content {
  margin: 20px 0px;
}
.content p {
  font-weight: 500;
  margin-left: 20px;
}
.content>img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 15px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.info>.item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(129, 101, 162);
}

.user .icon {
  justify-content: flex-end;
  cursor: pointer;
}
.postOpt {
  visibility: hidden;
  position: absolute;
}

.postOptShow {
  border: 1px solid rgb(207, 207, 207);
  background: rgba(255, 255, 255, 0.279);
  border-radius: 12px;
  background: white;
  backdrop-filter: blur(40px);
  padding: 10px;
  margin: 10px;
  right: -1%;
  top: 80%;
  display: flex;
  flex-direction: column;

  z-index: 1;
  position: absolute;
}
.postOptShow ul {
  list-style: none;
  margin-bottom: 0;
}
.postOptShow li {
  text-decoration: none;
  border: 0px solid red;
  border-radius: 10px;
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
  border-radius: 1px;
  margin: 10px 0px;
  cursor: pointer;


}
.postOptShow li:hover {
  font-weight: 500;
  border-radius: 8px;
  background: rgb(213, 179, 255);
  color : rgb(72, 35, 114);
}
.postOptShow .opt1 {
  border-radius: 8px;
  background: rgb(230, 209, 255);
  color : rgb(104, 25, 194);
}
.postOptShow .opt2 {
  border-radius: 8px;
  background: rgb(255, 169, 164);
  color : rgb(218, 18, 18);
}
.postOptShow .opt2 li:hover {
  border-radius: 8px;
  background: rgb(250, 65, 55);
  color : rgb(255, 255, 255);
}



.postDefault {
  display: none;
}


.imageContainer {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.updatePostModal {
  border: 1px solid rgb(155, 155, 155);
  position: absolute;
  top: -231px;
  left: 181px;
  height: fit-content;
  min-height: 360px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  width: 570px;
  box-shadow: 2px 2px 12px #757575;
  z-index: 99;
}

.updatePostModal .modalHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.updatePostContent {
  display: flex;
  flex-direction: column;
}
.updatePostContent h1 {
  font-size: 20px;
  color: rgb(65, 65, 65);
  margin-top: 10px;
}
.updatePostContent label {
  display: flex;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 20px;
  background: rgb(235, 223, 248);
  width: fit-content;
  margin-top: 10px;
  height: fit-content;
  padding: 5px 15px;
  cursor: pointer;
}
.updatePostContent label p {
  margin-bottom: 0px;
  color: rgb(91, 37, 146);
  font-weight: 500;
}
.updatePostContent textarea {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px;
  min-height: 100px;
}

.updatePostAddPic {
  color: rgb(86, 31, 141); 
  margin-left: 5px;
}
input[type="file"] {
  display: none;
}
.imagePreviewContainer img {
  max-width: 30%;
  height: auto;
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  position: relative;
}

.updatePostModal .confirmUpdate {
  display: flex;
  align-items: end;
  justify-content: right;
  text-align: center; 
}
.confirmUpdatePostBtn {
  right: 0;
  width: fit-content;
  border: 0px;
  padding: 6px 30px;
  border-radius: 10px;
  background: rgb(71, 32, 110);
  cursor: pointer;
}

.confirmUpdatePostBtnIcon {
  color: white;
  margin-top: 5px;
}
.confirmUpdatePostBtn:hover {
  right: 0;
  width: fit-content;
  border: 0px;
  padding: 6px 30px;
  border-radius: 10px;
  background: rgb(48, 23, 73);
  cursor: pointer;
}
/* .imageContainer img {
  flex: 1;
  max-width: 100%;
  height: auto;
} */

/* 1170px
  1026px */
@media (max-width: 1025px) {
  .post .content .gallery .showFullImgContainer {
    border: 0px solid red;
    padding: 5px;
    position: absolute;
    border-radius: 12px;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.21);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  
      z-index: 998;
      box-shadow: 0 2px 15px 2px rgba(87, 87, 87, 0.7);
    height: 684px;
    width: 787px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .post .content .gallery .showFullImgContainer h2{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(83, 83, 83);
  }
  .post .content .gallery .showFullImg{
    border: 0px solid red;
    /* position: absolute; */
    background: rgb(255, 255, 255);
    border-radius: 12px;
    height: 647px;
    width: 787px;
    padding: 0px;
    top: -128px;
    z-index: 999;
    left: 50px;
    background: transparent;
  }
  .post .content .gallery .showFullImg img {
    position: relative;
    height: 100%;
    width: 100%;

    max-width: 100%;
    max-height: 100%;
    width: auto; /* Ensure that the width adjusts proportionally */
    height: auto;
  }
  .post .content .gallery .showFullImg .prevImgBtn {
    left: 5px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.526);
  }
  .post .content .gallery .showFullImg .nextImgBtn {
    right: 5px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.526);
  }
  .post .content .gallery .showFullImg .closeImgBtn {
    top: 5px;
    right: 5px;
    border: 0px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.526);
  }
}
@media (max-width: 427px) {

  .post {
    /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
    border-radius: 20px;
    /* background-color: themed("bg"); */
    /* background: rgb(255, 255, 255);
    color: themed("textColor"); */
    /* background: red; */
    /* width: 500px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

  }
  .post .content .gallery .showFullImgContainer {
    border: 0px solid red;
    padding: 5px;
    /* position: absolute; */
    border-radius: 12px;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.886);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  
      z-index: 998;
      box-shadow: 0 2px 15px 2px rgba(87, 87, 87, 0.7);
    height: 560px;
    width: 460px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
    left: -36px;

    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(123, 123, 123, 0.226);
  }
  .post .content .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-gap: 30px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .post .content .gallery img {
    height: fit-content;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
  }
  .post .content .gallery .showFullImg{
    border: 0px solid red;
    /* position: absolute; */
    background: rgb(255, 255, 255);
    border-radius: 12px;
    height: 270px;
    width: 100%;
    padding: 0px;
    top: -128px;
    z-index: 999;
    left: 50px; 
    height: 560px;
    width: 460px;
    border-radius: 12px;
    background: transparent;
    border-radius: 12px;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
  }
  .post .content .gallery .showFullImgContainer h2{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(45, 45, 45);
    margin-top: 10px;
  }
  .post .content .gallery .showFullImg img {
    position: relative;
    /* max-height: 575px;
    width: 486px; */

    max-width: 100%;
    max-height: 100%;
    width: auto; /* Ensure that the width adjusts proportionally */
    height: auto;
  }
  .post .content .gallery .showFullImg button {
    position: absolute;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(197, 197, 197);
    padding: 4px;
  }
  .post .content .gallery .showFullImg .prevImgBtn {
    left: 5px;
    color: rgb(255, 255, 255);
  }
  .post .content .gallery .showFullImg .nextImgBtn {
    right: 5px;
    color: rgb(255, 255, 255);
  }
  .post .content .gallery .showFullImg .closeImgBtn {
    top: 5px;
    right: 5px;
    border: 0px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.526);
  }
  .info>.item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 12px;
  }
  }  

/* @media (max-width: 1170px) {
  .post .content p {
    color: rgb(54, 54, 54);
    font-size: 17px;
    margin: 0px;
  }

  .content>img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
  }
}

@media (max-width: 1026px) {
  .post {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;

    background: rgb(255, 255, 255);
    color: themed("textColor");

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

  }

  .post .content p {
    color: rgb(54, 54, 54);
    font-size: 17px;
    margin: 0px;
  }

  .content>img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
  }
}


/* media query for tablet, refer to rightbar css media queries for better info */
/* @media (min-width: 768px) and (max-width: 950px) {
  .post {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

  }

  .post .content p {
    color: rgb(54, 54, 54);
    font-size: 14px;
    margin: 0px;
  }

  .content>img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
  }

  .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }

  .info>.item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 12px;
  } */