@import "../../style.css";

.post {
  /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
  border-radius:30px;
  /* background-color: themed("bg"); */
  background: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 226);
  color: themed("textColor");
  /* background: red; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

}

.container {
  /* padding: 20px; */
  margin: 20px;
  /* background: rgb(0, 157, 255); */
}

.post .content p {
  color: rgb(52, 52, 52);
  font-size: 20px;
  margin: 0px;
}
.post .content .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 30px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.post .content .gallery img {
  height: fit-content;
  width: 500px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}
.post .content .gallery div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.post .content .gallery .showFullImgContainer {
  border: 0px solid red;
  padding: 5px;
  position: absolute;
  border-radius: 12px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.21);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

    z-index: 998;
    box-shadow: 0 2px 15px 2px rgba(87, 87, 87, 0.7);
  height: 647px;
  width: 1100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.post .content .gallery .showFullImgContainer h2{
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(83, 83, 83);
}
.post .content .gallery .showFullImg{
  border: 0px solid red;
  /* position: absolute; */
  background: rgb(255, 255, 255);
  border-radius: 12px;
  height: 470px;
  width: 680px;
  padding: 0px;
  top: -128px;
  z-index: 999;
  left: 50px;
  
}
.post .content .gallery .showFullImg img {
  position: relative;
  height: 100%;
  width: 100%;
}
.post .content .gallery .showFullImg button {
  position: absolute;
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  color: rgb(87, 87, 87);
  border: 0px solid rgb(197, 197, 197);
  padding: 4px;
}
.post .content .gallery .showFullImg button:hover {
  background: transparent;
}
.post .content .gallery .showFullImg .prevImgBtn {
  left: 5px;
}
.post .content .gallery .showFullImg .nextImgBtn {
  right: 5px;
}
.post .content .gallery .showFullImg .closeImgBtn {
  top: 5px;
  right: 5px;
  border: 0px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.userInfo {
  display: flex;
  gap: 20px;



}

.userInfo>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.details {
  display: flex;
  flex-direction: column;
}

.details>.name {
  font-weight: 500;
}


.details>.date {
  font-size: 12px;
}

.content {
  margin: 20px 0px;
}

.content>img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 15px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.info>.item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(129, 101, 162);
}

.user .icon {
  justify-content: flex-end;
}
.postOpt {
  visibility: hidden;
  position: absolute;
}

.postOptShow {
  border: 1px solid rgb(207, 207, 207);
  background: rgba(255, 255, 255, 0.279);
  border-radius: 12px;
  background: white;
  backdrop-filter: blur(40px);
  padding: 10px;
  margin: 10px;
  right: -1%;
  top: 80%;

  z-index: 1;
  position: absolute;
}
.postOptShow ul {
  list-style: none;
}
.postOptShow li {
  text-decoration: none;
  border: 0px solid red;
  border-radius: 10px;
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
  border-radius: 1px;
  margin: 10px 0px;
  cursor: pointer;

}
.postOptShow li:hover {
  font-weight: 500;
  border-radius: 8px;
  background: rgb(213, 179, 255);
  color : rgb(72, 35, 114);
}
.postOptShow .opt1 {
  border-radius: 8px;
  background: rgb(230, 209, 255);
  color : rgb(104, 25, 194);
}
.postOptShow .opt2 {
  border-radius: 8px;
  background: rgb(255, 169, 164);
  color : rgb(218, 18, 18);
}
.postOptShow .opt2 li:hover {
  border-radius: 8px;
  background: rgb(250, 65, 55);
  color : rgb(255, 255, 255);
}



.postDefault {
  display: none;
}


.imageContainer {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

/* .imageContainer img {
  flex: 1;
  max-width: 100%;
  height: auto;
} */

/* 1170px
  1026px */


@media (max-width: 427px) {

  .post {
    /* -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
    border-radius: 20px;
    /* background-color: themed("bg"); */
    /* background: rgb(255, 255, 255);
    color: themed("textColor"); */
    /* background: red; */
    /* width: 500px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;

  }
  .post .content .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-gap: 30px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .post .content .gallery img {
    height: fit-content;
    width: 205px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
  }
  .post .content .gallery .showFullImg{
    border: 0px solid red;
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    height: fit-content;
    width: auto;
    padding: 5px;
    top: 0px;
    left: -39px;
    right: -39px;
    box-shadow: 0 2px 15px 2px rgba(87, 87, 87, 0.7);
  }
  .post .content .gallery .showFullImg img {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .post .content .gallery .showFullImg button {
    position: absolute;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(197, 197, 197);
    padding: 4px;
  }
  .info>.item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 12px;
  }
  }  

/* @media (max-width: 1170px) {
  .post .content p {
    color: rgb(54, 54, 54);
    font-size: 17px;
    margin: 0px;
  }

  .content>img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
  }
}

@media (max-width: 1026px) {
  .post {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;

    background: rgb(255, 255, 255);
    color: themed("textColor");

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

  }

  .post .content p {
    color: rgb(54, 54, 54);
    font-size: 17px;
    margin: 0px;
  }

  .content>img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
  }
}


/* media query for tablet, refer to rightbar css media queries for better info */
/* @media (min-width: 768px) and (max-width: 950px) {
  .post {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

  }

  .post .content p {
    color: rgb(54, 54, 54);
    font-size: 14px;
    margin: 0px;
  }

  .content>img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
  }

  .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }

  .info>.item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 12px;
  } */