@import "../../style.css";

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;

}

.left_navbar {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
        font-weight: bold;
        font-size: 20px;
    }
}


.search {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 10px;
}

input {
    border: none;
    width: 500px;
    background-color: transparent;
}




.right_navbar {

    display: flex;
    align-items: center;
    gap: 15px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    /* span{

    } */
}


.menuIcon {
    visibility: hidden;
}


/* working fine upto 324px */
@media (max-width: 440px) {
    .navbar {
        width: 113%;
        /* 113% working fine 24-aug-23  */

    }

    .search .extended {
        border: 2px solid rgb(25, 151, 255);
        border-radius: 50px;
        background: white;
        width: 99vw;
        z-index: 1;
        height: 50px;
        top: 60px;
        left: -340px;
        position: absolute;
        box-shadow: 1px 1px 12px 1px black;
    }

    ::placeholder {
        padding: 20px;
    }

    .search .default {
        display: none;
    }

    .left_navbar {
        display: flex;
        align-items: center;
        gap: 45px;

        .icon {
            font-size: 25px;
        }

        .title {
            font-weight: bold;
            font-size: 20px;
        }
    }

    /* input {
        display: none;
    } */

    .right_navbar {
        display: none;
    }

    .search {
        display: flex;
        align-items: center;
        position: relative;
        /* gap: 10px; */
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 10px;
        width: 21px;
    }

    .menuIcon {
        visibility: visible;
    }
}






/* Tablet */
@media (min-width: 450px) and (max-width: 768px) {
    .search {
        display: flex;
        align-items: center;
        /* gap: 10px; */
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 10px;
        width: 250px;
    }
}

/* input{
        width: 200px;
    }

    .user{
        display: none;
    }
  } */
@media (min-width: 768px) and (max-width: 920px) {
    .search {
        display: flex;
        align-items: center;
        /* gap: 10px; */
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 10px;
        width: 300px;
    }
}



/* laptop */
@media (min-width: 920px) and (max-width: 1025px) {
    .search {
        display: flex;
        align-items: center;
        /* gap: 10px; */
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 10px;
        width: 419px;
    }
}




/* upto 974 px all fine */