.videocall {
    margin: 0;
    background-color: #282444;
    color: #fff;

}


/* body {
    margin: 0;

    color: #fff;

} */

.outer-rect {
    display: flex;
    width: 100vw;
}

/* .left-inner-rect {
    height: 100vh;
    width: 150px;

} */

.right-inner-rect {
    height: 100vh;
    width: 100vw;
    border-radius: 25px;
}

.header {
    height: 60px;
    width: 95%;
    background-color: #403464;
    margin: 20px;
    border-radius: 20px;
}

.right-inner-bottom {
    display: flex;
}

.left-video-part {
    width: 100%;
    height: 100vh;
    background-color: #222132;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.camera-video {
    padding: 5px;
    width: 85%;
    height: 85vh;
    background-color: #222132;
}

.video-control {
    width: 98%;
    height: 80px;
    background-color: rgb(51, 51, 68);
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 8px 5px rgb(28, 28, 37);
}

.icons,
.video-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    
}

.icons {
    flex-direction: row;
    gap: 20px;
}

.mic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    cursor: pointer;
}

.mic .videocontrolicons {
    border-radius: 50px;
    background-color: #4e4d5f;
    font-size: 45px;
    padding: 5px;
    color: #ffffff;
    width: 50px;
    height: 50px;

}

.videocontrolicons.active {
    background: rgb(227, 71, 71);
}

.end-call .callEndIcon.active {
    background-color: #d63b3b;
}

.end-call .callEndIcon {
    border-radius: 50px;
    width: 60px;
    height: 50px;
    font-size: 45px;
    padding: 5px;
    background-color: #d63b3b;
}

.end-call {
    display: flex;
    align-items: center;
    border: 0px solid red;
    padding: 2px;
    gap: 20px;
    justify-content: space-between;
    border-radius: 50px;
    cursor: pointer;
}

.end-call .startCallBtn {
    height: 50px;
    width: 90px;
    padding: 5px;
    border: 0px;
    border-radius: 50px;
    background: #454564;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.acceptCallBtn {
    height: 50px;
    width: 100px;
    padding: 5px;
    border: 0px;
    border-radius: 50px;
    background: #454564;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.acceptCallBtn:hover {
    background: #454564;
}

button {
    margin: 0;
}

.end-call.videocontrolicons {
    font-size: 35px;
    color: #ffffff;
}

.left-button {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

/* .iconlogo {
    margin-top: 20px;
} */

/* .iconlybulkhome {
    margin-top: 30px;
} */

.iconlyboldlogout {
    margin-top: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.preparing {
    margin-left: 20px;
    font-size: 26px;
    font-weight: 500;
}

.time {
    margin-left: 20px;
    border-radius: var(--br-xs);
    background-color: var(--color-slategray);
    border: 1px solid var(--color-red);
    box-sizing: border-box;
    width: 132px;
    height: 32px;
    text-align: center;
    font-size: 18px;
}

.leave {
    margin-left: 20px;
    border-radius: var(--br-xs);
    background-color: var(--color-slategray);
    width: 66px;
    height: 25px;
    text-align: center;
}

.header-right {
    margin-right: 20px;
    display: flex;

}

.number {
    margin-right: 10px;
    border-radius: var(--br-xs);
    background-color: var(--color-slategray);
    width: 30px;
    height: 40px;
    text-align: center;
    font-weight: 500;
}

.cam {
    display: flex;
    height: 50%;
    width: 100%;
}

.cam1 {
    display: flex;
    width: 100%;
    position: relative;
    margin: 10px;
    justify-content: center;
}

.cam1 img {
    object-fit: cover;
    border-radius: 20px;
}

.name-overlay {
    color: #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80vh;
    font-size: 14px;
}

.name-overlay .callerVid {
    border: 3px solid #454564;
    border-radius: 30px;
    width: 80vw;
    height: 80vh;
    /* box-shadow: 0px 0px 34px 4px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 34px 4px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 0px 34px 4px rgba(0, 0, 0, 0.47); */
}

.rec-cam1 {
    display: flex;
    width: 100%;
    position: relative;
    margin: 10px;
    justify-content: center;
}

.rec-name-overlay {
    color: #fff;
    position: absolute;
    right: 50px;
    bottom: 10px;
    border-radius: 30px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 30vh;
    font-size: 14px;
}

.rec-name-overlay1 {
    position: absolute;
    top: 65px;
    right: 70px;
    height: fit-content;
    width: fit-content;
    color: #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.334);
    cursor: pointer;
    padding: 3px 5px;
    font-size: 14px;
}

.rec-name-overlay .receiverVid {
    border: 0px solid rgb(0, 183, 255);
    width: 30vw;
    height: 30vh;

}

.name-overlay1 {
    position: absolute;
    top: 10px;
    right: 70px;
    height: fit-content;
    width: fit-content;
    color: #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.334);
    cursor: pointer;
    padding: 3px 5px;
    font-size: 14px;
}

.rec-name-overlay2 {
    color: #fff;
    position: relative;
    right: 50px;
    top: 50px;
    bottom: 10px;
    border-radius: 30px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 30vh;
    font-size: 14px;
}

.rec-name-overlay2 .receiverVid2 {
    border: 0px solid rgb(3, 255, 62);
    position: absolute;
    right: 3px;
    top: 290px;
    width: 30vw;
    height: 30vh;
}

.hidden {
    visibility: visible;
}

/* start and access btn styles */

.image1 {
    width: 80%;

}

.switch {
    border-radius: var(--br-xs);
    background-color: var(--color-darkslateblue-200);
    display: flex;

    align-items: center;
    justify-content: space-around;
    padding: var(--padding-5xs);
    gap: 20px;
    font-size: 20px;
    margin: 10px;
}

.messages {
    border-radius: var(--br-7xs);
    background-color: var(--color-mediumpurple);
    width: 120px;
    height: 30px;
    text-align: center;
}

.person1-chat,
.person2-chat {
    display: flex;
    margin: 5px;
}

.person2-img {
    width: 33px;
    height: 34px;
    margin-left: 10px;
}

.person1-img {
    width: 33px;
    height: 34px;
    margin-right: 10px;

}

.person1-text {
    border-radius: var(--br-xs) var(--br-xs) var(--br-xs) 0;
    background-color: var(--color-darkslateblue-200);

}

.text {
    text-align: left;
}

.chattop {
    display: flex;
    margin-left: 10px;
}

.iconlyboldpaper {

    width: 30px;
    height: 25px;

}

.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
}


.frame-item {

    width: 30px;
    height: 30px;
}

.emoji-icon {
    width: 58px;
    height: 25px;
}

.chattop {
    width: 288px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.iconlyboldsend {


    width: 24px;
    height: 24px;
}



.chatbox1 {
    border-radius: var(--br-xs);
    background-color: var(--color-darkslateblue-200);
    width: 288px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: var(--padding-5xs);
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: #86869d;
    margin-left: 10px;
    margin-top: 10px;
}


@media (max-width: 768px) {

    .outer-rect {
        overflow: hidden;
        max-height: 100%;
        /* Prevent scrolling on the body and main container */
    }

    /* .left-part {
        width: 45vh;
        height: 60vh;
    } */

    /* .right-part {
        height: 84vh;
        padding: 15px;
    } */

    .left-button {
        width: 50px;
    }

    .iconlogo {
        width: 30px;
        height: 30px;
    }

    .leftbuttonicon {
        height: 30px;
        width: 30px;
    }


    .right-inner-rect {
        width: 100%;
        height: 100vh;

    }

    .right-inner-bottom {
        height: 70vh;
        /* Adjust height to accommodate header and video controls */
    }
   


    .chatbox1 {

        width: 180px;
        display: flex;

        align-items: center;
        justify-content: space-between;


        font-size: 12px;
        color: #86869d;

        margin-top: 20px;
        margin-right: 15px;
    }
}


@media (max-width: 431px) {
    .outer-rect {
        overflow: hidden;
        max-height: 100%;
        /* Prevent scrolling on the body and main container */
    }
    
    .name-overlay {
        color: #fff;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        height: 80vh;
        font-size: 14px;
        margin-right: 20px;
    }
    .name-overlay .callerVid {
        border: 3px solid #454564;
        border-radius: 10px;
        width: 95vw;
        height: 80vh;
        margin: 0;
    }
    .video-control {
        width: 67vh;
        margin-right: 6px;
    }
    .mic .videocontrolicons {
        border-radius: 50px;
        background-color: #4e4d5f;
        font-size: 45px;
        padding: 5px;
        color: #ffffff;
        width: 42px;
        height: 42px;
    
    }
    .end-call {
        display: flex;
        align-items: center;
        border: 0px solid red;
        padding: 2px;
        gap: 20px;
        justify-content: space-between;
        border-radius: 50px;
        cursor: pointer;
    }
    .end-call .callEndIcon {
        border-radius: 50px;
        width: 42px;
        height: 42px;
        font-size: 45px;
        padding: 5px;
        background-color: #d63b3b;
    }
    .end-call .startCallBtn {
        height: 42px;
        width: 78px;
        padding: 5px;
        border: 0px;
        border-radius: 50px;
        background: #454564;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }
    
    .acceptCallBtn {
        height: 42px;
        width: 78px;
        padding: 5px;
        border: 0px;
        border-radius: 50px;
        background: #454564;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }
    .icons {
        gap: 25px;

    }
    .rec-name-overlay1 {
        position: absolute;
        top: 65px;
        right: 70px;
        height: fit-content;
        width: fit-content;
        color: #fff;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.334);
        cursor: pointer;
        padding: 3px 5px;
        font-size: 14px;
        visibility: hidden;
    }
    
    .rec-name-overlay .receiverVid {
        border: 0px solid rgb(0, 183, 255);
        position: absolute;
        right: -136px;
        top: 82px;
        width: 30vw;
        height: 30vh;
    
    }
    
    .rec-name-overlay2 .receiverVid2 {
        border: 0px solid rgb(3, 255, 62);
        position: absolute;
        right: -96px;
        top: 282px;
        width: 30vw;
        height: 30vh;
    }
   

    .left-button {
        width: 50px;
    }

    .iconlogo {
        width: 30px;
        height: 30px;
    }

    .leftbuttonicon {
        height: 30px;
        width: 30px;
    }


    .right-inner-rect {
        width: 100%;
        height: 100vh;

    }

    .right-inner-bottom {
        height: 70vh;
        /* Adjust height to accommodate header and video controls */
    }

    .header {
        height: 40px;
        padding: px;
        width: 80%;
    }

    .preparing {
        font-size: 8px;
    }

    .time {
        height: 20px;
        width: 80px;
        font-size: 10px;
        margin-left: 2px;
    }

    .leave {
        height: 10px;
        font-size: 6px;
        margin-left: 5px;
    }

    .fullscreen {
        width: 20px;
    }

    .camera-video {
        height: 78vh;
        width: 38vh;

    }

    

    .icons {
        gap: 25px;

    }

    .mic {
        height: 8px;
        width: 15px;

    }

    .videocontrolicons {
        height: 15px;

    }


    .switch {



        width: 170px;
        height: 30px;


        font-size: 14px;

    }

    .messages {

        width: 80px;
        height: 20px;
        text-align: center;
    }

    .person1-chat,
    .person2-chat {
        display: flex;
        margin-top: 20px;

    }

    .person2-img {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

    .person1-img {
        width: 35px;
        height: 35px;
        margin-right: 10px;

    }

    .person1-text {
        border-radius: var(--br-xs) var(--br-xs) var(--br-xs) 0;
        background-color: var(--color-darkslateblue-200);
        width: 200px;
        height: 150px;



    }

    .text {
        text-align: left;
        font-size: 17px;
        margin: 5px;
    }



    .iconlyboldpaper {

        width: 25px;
        height: 25px;

    }

    .upload {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 7px;

    }


    .frame-item {

        width: 25px;
        height: 25px;
    }

    .emoji-icon {
        width: 28px;
        height: 28px;
    }

    .chattop {
        margin-top: 20px;
        width: 150px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 5px;
    }


    .iconlyboldsend {


        width: 20px;
        height: 20px;
    }



    .chatbox1 {

        width: 180px;
        display: flex;

        align-items: center;
        justify-content: space-between;


        font-size: 12px;
        color: #86869d;

        margin-top: 20px;
        margin-right: 15px;
    }

}

